<div class="main-container container">
  <div class="hero-layout main-blog-container">
    <div class="header-part">
      <div class="button-section">
        <button class="btn btn-secondary">
          <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-1">
            <g clip-path="url(#clip0_730_4393)">
              <path
                d="M4.72159 0.378052V1.24205C4.72159 3.72605 3.02959 5.11205 0.725586 5.13005V6.75005C3.02959 6.75005 4.72159 8.15405 4.72159 10.6201V11.4841H6.23359V10.6201C6.23359 8.67605 5.42359 7.36205 3.67759 6.89405V6.64205H14.2256V5.23805H3.67759V4.96805C5.42359 4.50005 6.23359 3.20405 6.23359 1.24205V0.378052H4.72159Z"
                fill="#004A43" />
            </g>
            <defs>
              <clipPath id="clip0_730_4393">
                <rect width="15" height="12" fill="white" />
              </clipPath>
            </defs>
          </svg>
          All
          posts</button>
      </div>
      <div class="sub-title">
        <p class="sm-text text-primary">Published at Mon Feb 20 2023 in</p>
      </div>
      <div class="header-title">
        <h1 class="text-primary">2023 W7: Agencies - so many, yet too few.</h1>
      </div>
      <div class="profile d-flex gap-2">
        <img src="assets/Img/Svg/blog-detail-profile.svg" class="rounded-circle" alt="profile">
        <p class="sm-text mt-3 text-primary">Humberto</p>
      </div>
      <div class="thumbnail">
        <img src="assets/Img/Png/blog-detail-profile.png" alt="header" class="img-fluid">
      </div>
      <div class="body">
        <p class="blog-text text-primary">Every week I post about one thing that happened at Rows. We're building in
          public!</p>
        <p class="blog-text text-primary">---</p>
        <p class="blog-text text-primary">Last week I had calls with a number of software development agencies. For the
          first time, I feel like I can productively engage with those cold intro emails and get value for Rows and the
          emailer (the agency).</p>
        <p class="blog-text text-primary">That is, we have a product need that can help us, and the agency (€€€). That
          need is around the next wave of Smarts for spreadsheets.</p>
      </div>
    </div>
    <div class="body-part">
      <h3 class="text-primary">The software development company</h3>
      <p class="blog-text text-primary">First, who are these agencies? (Narrating voice ON). They go by many names, and
        they will introduce themselves as:</p>
      <div class="list">
        <p class="blog-text text-primary">software development company</p>
        <p class="blog-text text-primary">software development agency</p>
        <p class="blog-text text-primary">IT agency</p>
        <p class="blog-text text-primary">software house</p>
        <p class="blog-text text-primary">boutique developer</p>
        <p class="blog-text text-primary">offshore developer</p>
        <p class="blog-text text-primary">contractor</p>
        <p class="blog-text text-primary">IT staffing agency</p>
        <p class="blog-text text-primary">"the solution to your problems".</p>
      </div>
      <p class="blog-text text-primary">They generally send cold intros, which makes sense for their business.</p>
      <div class="list">
        <p class="blog-text text-primary">"Need engineers?"</p>
        <p class="blog-text text-primary">"What are your needs in FE, UX and design?"</p>
        <p class="blog-text text-primary">"Are you looking to accelerate your mobile development?" and</p>
        <p class="blog-text text-primary">"We saw that you're looking to hire Java developers. We have 2 Java experts
          that we can staff quickly".</p>
      </div>
      <p class="blog-text text-primary">They typically charge per day or per hour of a person.</p>
    </div>
    <div class="body-part">
      <h3 class="text-primary">The problem of the tech industry: capacity</h3>
      <p class="blog-text text-primary">Right now, in early 2023, the hiring frenzy has cooled down and in fact we're in
        rationalization mode. But it is still true that there is a shortage of tech talent inside Startups and business
        operators.</p>
      <p class="blog-text text-primary">At the same time, software development agencies are always trying to score more
        business.</p>
      <p class="blog-text text-primary">How can there be a shortage of engineering capacity and oversupply at the same
        time?</p>
      <p class="blog-text text-primary">I think the problem isn't (just) capacity. In my opinion the problem is more
        around trust and efficiency.</p>
      <p class="blog-text text-primary">What's tech outsourcing got to do with trust? Because it's hard for a company to
        formulate a problem that is easy to externalize and manage with a new supplier, who will have to be culturally,
        technically and financially integrated into the operation. This is very inefficient, and frequently wipes away
        many of the potencial benefits of IT agencies.</p>
      <p class="blog-text text-primary">Integrating with an outsider hard to do, and very hard to do well. In practice,
        companies in general shy away from using with some exceptions.</p>
    </div>
    <div class="blog-end">
      <p class="blog-text fw-bold">If you work for an IT agency, DM today.</p>
      <div class="blog-footer-img text-center">
        <img src="assets/Img/Png/blog-footer.png" alt="footer-img" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content-layout">
      <div class="blog-header blog-component d-flex flex-column flex-md-row justify-content-between">
        <div class="blog-header-title">
          <h2 class="text-primary">Recent Blog Posts</h2>
        </div>
        <div class="blog-header-button d-none d-md-block">
          <button class="btn secondary-btn">View All </button>
        </div>
      </div>
      <div class="blog-tiles blog-component d-flex flex-column flex-md-row justify-content-between">
        <div class="blog-tiles-item">
          <div class="header"></div>
          <div class="body">
            <h5 class="text-primary">Long headline to turn your visitors</h5>
            <p class="text-info body-text">Harmonious colour themes have built up as the collection has evolved. </p>
            <div class="link">
              <button class="btn btn-primary-link text-primary">Read Now</button>
              <svg width="7" height="11" viewBox="0 0 7 11" fill="none" class="mt-1" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 1.5L5.5 5.5L1.5 9.5" stroke="#016C62" stroke-width="1.5" />
              </svg>
            </div>
          </div>
        </div>
        <div class="blog-tiles-item">
          <div class="header"></div>
          <div class="body">
            <h5 class="text-primary">Long headline to turn your visitors</h5>
            <p class="text-info body-text">Harmonious colour themes have built up as the collection has evolved. </p>
            <div class="link">
              <button class="btn btn-primary-link text-primary">Read Now</button>
              <svg width="7" height="11" viewBox="0 0 7 11" fill="none" class="mt-1" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 1.5L5.5 5.5L1.5 9.5" stroke="#016C62" stroke-width="1.5" />
              </svg>
            </div>
          </div>
        </div>
        <div class="blog-tiles-item">
          <div class="header"></div>
          <div class="body">
            <h5 class="text-primary">Long headline to turn your visitors</h5>
            <p class="text-info body-text">Harmonious colour themes have built up as the collection has evolved. </p>
            <div class="link">
              <button class="btn btn-primary-link text-primary">Read Now</button>
              <svg width="7" height="11" viewBox="0 0 7 11" fill="none" class="mt-1" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 1.5L5.5 5.5L1.5 9.5" stroke="#016C62" stroke-width="1.5" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
