<div class="container hero-layout">
  <h1 class="text-primary text-center hero-title">Let’s plan for your secure tomorrow together </h1>
  <p class="sm-text text-info body">As a young professional, you have big dreams and aspirations for your future. But
    navigating the complexities of personal finance can feel overwhelming and confusing. That's where we come in.</p>
  <div class="button-section d-flex gap-3 justify-content-center">
    <button class="btn-outline-green">Schedule a call</button>
    <button class="btn-outline-green">See how we do it</button>
  </div>
</div>
<div class="featured container-fluid">
  <p class="sm-text text-center text-secondary">As Seen In</p>
  <div class="logo-section d-flex justify-content-center flex-wrap">
    <div class="featured-item"><img src="assets/Img/Svg/ebay.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/cnn.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/google.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/cisco.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/airbnb.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/uber.svg" alt="logo" class="img-fluid"></div>
  </div>
</div>
<div class="container content-layout border-1 border">
</div>
<div class="container content-layout border-1 border">
</div>
<div class="container content-layout border-1 border">
</div>
