
<div class="right content-layout container-fluid">
  <div class="right-section container d-flex flex-column flex-md-row justify-content-around">
    <div class="right-section-content align-self-center">
      <div class="right-section-content-title">
        <h1 class="text-primary">We take care of the details so you can live life stress-free</h1>
      </div>
      <div class="right-section-content-body">
        <p class="md-text mb-1">Services we specialize in</p>
        <ul>
          <li>Goal based Investment</li>
          <li>Retirement Planning</li>
          <li>Complete Life Planning</li>
        </ul>
      </div>
      <div class="right-section-content-button">
        <button class="btn btn-green">Schedule  a call</button>
      </div>
    </div>
    <div class="position-relative align-self-center">
      <img src="assets/Img/Png/service-profile.png" alt="cover" class="img-fluid">
      <div class="progress-indicator position-absolute">
        <p class="sm-text pt-1 text-primary text-center fw-semibold">SERVICES</p>
      </div>
    </div>
  </div>
</div>

<div class="featured section-gap container-fluid border border-1">
  <p class="sm-text text-center text-secondary fw-semibold text-uppercase">As Seen In</p>
  <div class="logo-section d-flex justify-content-center flex-wrap">
    <div class="featured-item"><img src="assets/Img/Svg/cisco.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/airbnb.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/ebay.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/google.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/cnn.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/uber.svg" alt="logo" class="img-fluid"></div>
  </div>
</div>
<div class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h2 class="text-primary title">1. Schedule a Consultation </h2>
    <p class="md-text">The first step in our process is to schedule a free consultation with us. During this initial
      conversation, we will take the time to listen to your financial goals, concerns, and aspirations. </p>
    <p class="md-text">In case you find us the right fit, we’ll get this going with a simple and work-able plan</p>
  </div>
  <div class="profile-content position-relative d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 1 </p>
    </div>
  </div>
</div>

<div class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center order-md-2 order-1">
    <h2 class="text-primary title">2. Access your financial situation </h2>
    <p class="md-text">The first step in our process is to schedule a free consultation with us. During this initial
      conversation, we will take the time to listen to your financial goals, concerns, and aspirations. </p>
    <p class="md-text">In case you find us the right fit, we’ll get this going with a simple and work-able plan</p>
  </div>
  <div class="profile-content position-relative order-md-1 order-2 d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 2 </p>
    </div>
  </div>
</div>

<div class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h2 class="text-primary title">1. Schedule a Consultation </h2>
    <p class="md-text">The first step in our process is to schedule a free consultation with us. During this initial
      conversation, we will take the time to listen to your financial goals, concerns, and aspirations. </p>
    <p class="md-text">In case you find us the right fit, we’ll get this going with a simple and work-able plan</p>
  </div>
  <div class="profile-content position-relative d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 1 </p>
    </div>
  </div>
</div>
