<div class="right content-layout container-fluid">
  <div class="right-section container d-flex flex-column flex-md-row justify-content-around">
    <div class="right-section-content align-self-center">
      <div class="right-section-content-title">
        <h1 class="text-primary">We take care of the details so you can live life stress-free</h1>
      </div>
      <div class="right-section-content-body">
        <p class="md-text mb-1">Services we specialize in</p>
        <ul>
          <li>Goal based Investment</li>
          <li>Retirement Planning</li>
          <li>Complete Life Planning</li>
        </ul>
      </div>
      <div class="right-section-content-button">
        <button class="btn secondary-btn">Schedule a call</button>
      </div>
    </div>
    <div class="position-relative align-self-center">
      <img src="assets/Img/Png/service-profile.png" alt="cover" class="img-fluid">
      <div class="progress-indicator position-absolute">
        <p class="sm-text pt-1 text-primary text-center fw-semibold">SERVICES</p>
      </div>
    </div>
  </div>
</div>

<div class="featured section-gap container-fluid border border-1">
  <p class="sm-text text-center text-secondary fw-semibold text-uppercase">As Seen In</p>
  <div class="logo-section d-flex justify-content-center flex-wrap">
    <div class="featured-item"><img src="assets/Img/Svg/cisco.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/airbnb.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/ebay.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/google.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/cnn.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/uber.svg" alt="logo" class="img-fluid"></div>
  </div>
</div>
<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-around section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h2 class="text-primary title">1. Goal based Investment Planning  </h2>
    <p class="md-text text-info">Investing without a roadmap is like driving without a GPS - you're destined for detours.</p>
    <p class="md-text text-info">We’ll help you</p>
    <ul class="ps-3">
      <li class="md-text text-info">Identify your specific financial objectives, whether it's buying a home, your dream vacation, funding your child's education or anything else</li>
      <li class="md-text text-info">Create a customized investment plan tailored to your unique goals, risk tolerance, and timeline</li>
      <li class="md-text text-info">Confidently invest with purpose and maximize your chances of success</li>
    </ul>
  </div>
  <div class="profile-content position-relative d-none d-md-block align-self-center">
    <img src="assets/Img/Png/service-element.png" alt="service" class="img-fluid position-absolute element">
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-around section-top-bottom-margin">
  <div class="text-content align-self-center order-md-2 order-1">
    <h2 class="text-primary title">2. Retirement Planning </h2>
    <p class="md-text text-info">Secure your golden years with a clear retirement plan</p>
    <ul class="mt-3 ps-3">
      <li class="md-text">Healthcare and long-term care expenses </li>
      <li class="md-text">Day-to-day living expenses</li>
      <li class="md-text">Tax planning strategies </li>
      <li class="md-text">Estate planning and legacy goals </li>
    </ul>
  </div>
  <div class="profile-content bg-brown position-relative order-md-1 order-2 d-none d-md-block align-self-center">
    <img src="assets/Img/Svg/service-graphic-element.svg" alt="service" class="img-fluid position-absolute element-2">
    <div class="green-box position-absolute"></div>
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-around section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h2 class="text-primary title">3. Comprehensive Life planning </h2>
    <p class="md-text text-info">Whether you are planning for retirement, saving for your child’s education, or looking to grow your wealth. </p>
    <p class="md-text text-info mt-4">Our goal based investment planning approach focuses</p>
    <ul class="mt-4 ps-3">
      <li class="md-text">Cash flow Analysis </li>
      <li class="md-text">Net-worth Statement</li>
      <li class="md-text">Investment Strategies</li>
      <li class="md-text">Tax planning Strategies</li>
      <li class="md-text">Annual Reviews</li>
    </ul>
  </div>
  <div class="profile-content position-relative d-none d-md-block align-self-center">
    <img src="assets/Img/Png/service-element.png" alt="service" class="img-fluid position-absolute element">
  </div>
</div>
