@import "node_modules/bootstrap/scss/mixins";
@import "src/layout.scss";
@import "src/app/process/process.component.scss";
@import "src/app/home/home.component.scss";

.right-section-content {
  max-width: 500px;
}
.progress-indicator {
  height: 33px;
  width: 94px;
  border-radius: 0px;
  background: #A9FF9B;
  top: 29px;
}
