<div class="footer container-fluid">
  <div class="content-layout container position-relative">
    <div class="footer-top-container d-flex flex-column flex-md-row justify-content-between">
      <div class="about-website">
        <div class="website-logo">
          <img src="assets/Img/Svg/Footer_logo.svg" alt="logo">
        </div>
        <p class="md-text body text-primary text-white">Srujan Financial helps young professionals on-the-go plan for their future</p>
        <div class="cover-button align-self-center">
          <button class="btn footer-btn"><a href='tel:+91-(867)786-8022' class="calling-feature">+91-(867)786-8022</a></button>
        </div>
      </div>
      <div class="pages-link d-flex flex-wrap">
        <ul class="page-links">
          <p class="text-primary body-text fw-bold mb-0 text-white">ABOUT</p>
          <li class="link-item text-info"><a class="xsm-text text-white" href="">Mission</a></li>
          <li class="link-item text-info"><a class="xsm-text text-white" href="">Founders Story</a></li>
          <li class="link-item text-info"><a class="xsm-text text-white" href="">Team</a></li>
          <li class="link-item text-info"><a class="xsm-text text-white" href="">Process</a></li>
          <li class="link-item text-info"><a class="xsm-text text-white" href="">FAQs</a></li>
        </ul>
        <ul class="page-links">
          <p class="text-primary body-text fw-bold mb-0 text-white">SERVICES</p>
          <li class="link-item text-info"><a class="xsm-text text-white" href="">Investment Planning</a></li>
          <li class="link-item text-info"><a class="xsm-text text-white" href="">Goal Based Investment Planning</a></li>
          <li class="link-item text-info"><a class="xsm-text text-white" href="">Retirement Planning</a></li>
          <li class="link-item text-info"><a class="xsm-text text-white" href="">Holistic Life Planning</a></li>
        </ul>
        <ul class="page-links">
          <p class="text-primary body-text fw-bold mb-0 text-white">CONTACT</p>
          <li class="link-item text-info"><a class="xsm-text text-white" href="">Get In touch</a></li>
          <li class="link-item text-info"><a class="xsm-text text-white" href="">Book a call</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-element position-absolute d-none d-lg-block">
      <img src="assets/Img/Svg/Footer_graphic.svg" class="img-fluid" alt="element">
    </div>
  </div>
  <hr class="divider">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <div class="footer-bottom-copyright d-flex flex-column flex-lg-row">
      <p class="text-white xsm-text mb-0">© 2023 Srujan Financial LLC. Design by<a href="#" class="text-white xsm-text underline ms-1">Chaitra Rao</a></p>
      <div class="d-flex gap-3">
        <a href="#" class="text-white xsm-text underline m-0">Privacy Policy</a>
        <a href="#" class="text-white xsm-text underline m-0">Terms of Service</a>
      </div>
    </div>
    <ul class="footer-bottom-social-media-links mb-0 mt-3 mt-md-0">
      <li><a href=""><img class="social-icon" src="assets/Img/Svg/fb.svg" alt="facebook"></a></li>
      <li><a href=""><img class="social-icon" src="assets/Img/Svg/lnk.svg" alt="linkidin"></a></li>
      <li><a href=""><img class="social-icon" src="assets/Img/Svg/twitter.svg" alt="twitter"></a></li>
      <li><a href=""><img class="social-icon" src="assets/Img/Svg/pin.svg" alt="pinterest"></a></li>
    </ul>
  </div>
</div>
