@import "node_modules/bootstrap/scss/mixins";
@import "src/layout.scss";

ul {
  padding-left: 0;
  li {
    list-style: none;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}
a {
  text-decoration: none;
  &:hover {
    color: #a0e4b0 !important;
  }
}
.websitelink {
  &:hover {
    color: #fff !important;
  }
}
.no-highlight {
  color: #d8d8d8 !important;
  opacity: 0.4;
  &:hover {
    color: #fff !important;
    opacity: 1;
  }
}
.calling-feature {
  color: #fff;
}

// .border-top {
//   // margin: auto;
//   // max-width: 1295px;
//   border-top: 1px solid #fff;
//   // margin-top: 28px;
//   // margin-bottom: 28px;
//   // @include media-breakpoint-up(lg) {
//   //   margin-bottom: 20px;
//   //   margin-top: 120px;
//   // }
// }

.footer {
  background: $primary;
  padding: 40px 15px;
  @include media-breakpoint-up(lg) {
    padding: 40px 65px 144px 65px;
  }
  &-top {
    &-container {
      gap: 36px;
      .about-website {
        max-width: 340px;
        .website-logo {
          margin-bottom: 25px;
          img {
            height: 48px;
          }
        }
        .body {
          margin-bottom: 24px;
        }
      }
      .footer-top-social-media-links {
        display: flex;
        gap: 18px;
        @include media-breakpoint-up(lg) {
          margin-top: 24px;
          gap: 12px;
        }
        .social-icon {
          height: 16px;
          width: 16px;
        }
      }
      .pages-link {
        row-gap: 42px;
        column-gap: 25px;
        @include media-breakpoint-up(lg) {
          gap: 114px;
        }
        .page-links {
          display: flex;
          flex-direction: column;
          gap: 4px;
          @include media-breakpoint-up(lg) {
            gap: 8px;
          }
        }
      }
    }
  }
  &-bottom {
    border-top: 0.1px solid #fff;
    background: $primary;
    padding: 32px 16px;
    gap: 8px;
    @include media-breakpoint-up(lg) {
      padding: 32px 64px;
      gap: 24px;
    }
    &-copyright {
      gap: 16px;
    }
    &-social-media-links {
      display: flex;
      gap: 18px;
      @include media-breakpoint-up(lg) {
        gap: 12px;
      }
      .social-icon {
        height: 16px;
        width: 16px;
      }
    }
  }
}
.footer-element {
  @include media-breakpoint-up(lg) {
    left: -0.4%;
    top: 5%;
  }
}

.underline {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
