<div class="footer container-fluid">
  <div class="content-layout container">
    <div class="footer-top-container d-flex flex-column flex-md-row justify-content-between">
      <div class="about-website">
        <div class="website-logo">
          <img src="assets/Img/Svg/srujanFinancial.svg" alt="logo">
        </div>
        <p class="md-text body text-primary">Srujan Financial helps young professionals on-the-go plan for their future</p>
        <div class="cover-button align-self-center">
          <button class="btn btn-outline-call">+91-(867)786-8022</button>
        </div>
      </div>
      <div class="pages-link d-flex flex-wrap">
        <ul class="page-links">
          <p class="text-primary body-text fw-bold mb-0">ABOUT</p>
          <li class="link-item text-info"><a class="xsm-text" href="">Mission</a></li>
          <li class="link-item text-info"><a class="xsm-text" href="">Founders Story</a></li>
          <li class="link-item text-info"><a class="xsm-text" href="">Team</a></li>
          <li class="link-item text-info"><a class="xsm-text" href="">Process</a></li>
          <li class="link-item text-info"><a class="xsm-text" href="">FAQs</a></li>
        </ul>
        <ul class="page-links">
          <p class="text-primary body-text fw-bold mb-0">SERVICES</p>
          <li class="link-item text-info"><a class="xsm-text" href="">Investment Planning</a></li>
          <li class="link-item text-info"><a class="xsm-text" href="">Goal Based Investment Planning</a></li>
          <li class="link-item text-info"><a class="xsm-text" href="">Retirement Planning</a></li>
          <li class="link-item text-info"><a class="xsm-text" href="">Holistic Life Planning</a></li>
        </ul>
        <ul class="page-links">
          <p class="text-primary body-text fw-bold mb-0">CONTACT</p>
          <li class="link-item text-info"><a class="xsm-text" href="">Get In touch</a></li>
          <li class="link-item text-info"><a class="xsm-text" href="">Book a call</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="divider container">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <div class="footer-bottom-copyright d-flex flex-column flex-lg-row">
      <a href="#" class="text-primary xsm-text">© 2023 Srujan Financial LLC. Design by Chaitra Rao</a>
      <div class="d-flex gap-3">
        <a href="#" class="text-primary xsm-text">Privacy Policy</a>
        <a href="#" class="text-primary xsm-text">Terms of Service</a>
      </div>
    </div>
    <ul class="footer-bottom-social-media-links">
      <li><a href=""><img class="social-icon" src="assets/Img/Svg/fb.svg" alt="facebook"></a></li>
      <li><a href=""><img class="social-icon" src="assets/Img/Svg/lnk.svg" alt="linkidin"></a></li>
      <li><a href=""><img class="social-icon" src="assets/Img/Svg/twitter.svg" alt="twitter"></a></li>
      <li><a href=""><img class="social-icon" src="assets/Img/Svg/pin.svg" alt="pinterest"></a></li>
    </ul>
  </div>
</div>
