@import "node_modules/bootstrap/scss/mixins";
@import "src/layout.scss";

.mgt-20 {
  margin-top: 4px;
  @include media-breakpoint-up(md){
    margin-top: 8px;
  }
  @include media-breakpoint-up(lg){
    margin-top: 16px;
  }
}
.left {
  margin-top: 64px;
  @include media-breakpoint-down(lg) {
    margin-top: 32px;
  }
  &-section {
    gap: 28px;
    @include media-breakpoint-up(md) {
      gap: 60px;
    }
    @include media-breakpoint-up(lg) {
      gap: 110px;
    }
    &-content {
      order: 2;
      max-width: 393px;
      @include media-breakpoint-up(md) {
        max-width: 350px;
        order: 1;
      }
      @include media-breakpoint-up(lg) {
        max-width: 470px;
      }
      &-body {
        margin-top: 20px;
        @include media-breakpoint-up(lg) {
          margin-top: 24px;
        }
      }
      &-button {
        margin-top: 24px;
        @include media-breakpoint-up(lg) {
          margin-top: 40px;
        }
      }
    }
    &-profile {
      order: 1;
      border: 1px solid#4CA495;
      @include media-breakpoint-up(md) {
        order: 2;
      }
      .feature {
        z-index: 99;
        left: 22%;
        top: 8%;
        @include media-breakpoint-down(md) {
          width: 290px;
        }
        @include media-breakpoint-up(lg) {
          left: 45%;
          top: -6%;
        }
      }
    }
  }
}
.featured {
  &-articles {
    &-title {
      padding-top: 4px;
      @include media-breakpoint-up(lg) {
        padding-top: 8px;
      }
      margin: auto;
      max-width: 540px;
    }
  }
}

.right {
  background: rgba(215, 224, 212, 0.12);
  // margin-top: 64px;
  @include media-breakpoint-down(lg) {
    // margin-top: 32px;
  }
  &-title {
    margin: auto;
    max-width: 362px;
    margin-bottom: 80px;
    @include media-breakpoint-up(md){
      max-width: 674px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 1020px;
      margin-bottom: 118px;
      margin-top: 48px;
    }
  }
  &-section {
    gap: 28px;
    @include media-breakpoint-up(lg) {
      gap: 110px;
    }
    &-content {
      order: 2;
      max-width: 393px;
      @include media-breakpoint-up(md){
        max-width: 350px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 500px;
      }
      &-body {
        margin-top: 20px;
        @include media-breakpoint-up(lg) {
          margin-top: 24px;
        }
      }
      &-button {
        margin-top: 24px;
        @include media-breakpoint-up(lg) {
          margin-top: 40px;
        }
      }
    }
    &-profile {
      order: 1;
    }
  }
}

.grid {
  background: #fff;
  padding: 40px 15px 0px;
  gap: 16px;
  @include media-breakpoint-up(md) {
    row-gap: 40px;
    padding: 60px 15px 0px;
  }
  @include media-breakpoint-up(lg) {
    padding: 116px 60px 0px;
  }
  &-item {
    margin: auto;
    max-width: 393px;
    @include media-breakpoint-up(md) {
      max-width: 300px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 352px;
    }
    .card-body {
      padding: 0;
    }
    .card-header {
      background: #fff;
      border: none;
    }
    &-title {
      margin-top: 24px;
      h4 {
        color: #08786c;
      }
    }
    &-link {
      margin-top: 16px;
      button {
        padding-left: 0 !important;
        padding-right: 9.5px;
        &:active {
          border: none;
        }
      }
    }
  }
}
.about-logo{
  @include media-breakpoint-up(lg){
    gap: 240px !important;
  }
}

.value-plate{
  &-item{
    &-header-icon{
      margin-bottom: 16px;
    }
    max-width: 350px;
    padding: 15px 0px;
    @include media-breakpoint-up(md){
      max-width: 300px;
      padding: 20px 0px;
    }
    @include media-breakpoint-up(lg){
      padding: 30px 0px;
      max-width: 350px;
    }
  }
}

#founders-story{
  background: #fff !important;
  @include media-breakpoint-up(lg){
    margin-bottom: 0px !important;
  }
}
