<div class="left content-layout container-fluid top-margin" id="aboutMe">
  <div class="left-section container d-flex flex-column flex-md-row justify-content-center">
    <div class="left-section-content align-self-center">
      <div class="left-section-content-title content-title">
        <h1 class="text-primary">Together, let’s plan for your secure tomorrow </h1>
      </div>
      <div class="left-section-content-body">
        <p class="body-text">As a qualified personal finance professional, I am dedicated to helping young professionals
          like you <span class="sans-bold-text">plan for a stress-free tomorrow</span>. </p>
        <p class="body-text">Whether it's creating a budget, managing debt, or investing for your future, I am
          <span class="sans-bold-text">here to guide you every step of the way</span>.</p>
      </div>
      <div class="left-section-content-button">
        <button class="secondary-btn" [routerLink]="['/contact']">Schedule Your free
          Consultation</button>
      </div>
    </div>
    <div class="left-section-profile position-relative align-self-center">
      <img src="assets/Img/Png/founder_deepali_sen.png" alt="founder_deepali_sen" class="img-fluid">
    </div>
  </div>
</div>
<div class="featured section-gap container-fluid border border-1" id="about-logo">
  <div class="logo-section about-logo d-flex flex-wrap justify-content-around justify-content-lg-center">
    <div class="featured-item">
      <h3 class="text-primary text-center">2012</h3>
      <p class="lg-text text-primary text-center">Year founded</p>
    </div>
    <div class="featured-item">
      <h3 class="text-primary text-center">250+</h3>
      <p class="lg-text text-primary text-center">Happy clients</p>
    </div>
    <div class="featured-item">
      <h3 class="text-primary text-center">280+</h3>
      <p class="lg-text text-primary text-center">Goals achieved</p>
    </div>
  </div>
</div>

<div class="right content-layout container-fluid">
  <div class="right-title" id="mission">
    <h2 class="text-primary text-center">Our mission is to help you live life stress-free without having to worry about
      money</h2>
  </div>
  <div class="right-section container d-flex flex-column flex-md-row justify-content-center" id="founders-story">
    <div class="right-section-content align-self-center">
      <div class="right-section-content-title">
        <h3 class="text-primary">Here’s how we started</h3>
      </div>
      <div class="right-section-content-body">
        <p class="sm-text">Hi, My name is Deepali and I’m a Qualified Personal Finance Professional <span
            class="sans-bold-text">(QPFP®)</span> with over 20
          years of experience in the finance industry.</p>
        <p class="sm-text"> I’ve <span class="sans-bold-text">helped over 250 young professionals</span> protect their
          wealth,
          prepare for the future, and most importantly, strike their own equation with money, so that they can live a stress-free life without having to worry about money.
        </p>
        <p class="sm-text">After years of working in the finance Industry, including serving as a VP of
          Business Development for a prominent wealth management firm, I was struck by a glaring reality: <span
            class="sans-bold-text">young
            professionals were often overlooked and turned away by most financial planners who are suited for people
            with
            massive assets and investments.</span>  </p>
        <p class="sm-text">As someone who grew up in an average middle-class family myself, I understand how important
          it is to <span class="sans-bold-text">have access to financial guidance</span> early on in your career <span
            class="sans-bold-text">to make the most out of your earning years</span>.
          And that’s exactly why we started Srujan FS.
            </p>
        <p class="sm-text">At Srujan, we provide financial guidance to help young professional like you feel in control
          of your finances and achieve your financial goals, and we do this through a personalized approach that’s
          <span class="sans-bold-text">grounded in empathy</span> and <span
            class="sans-bold-text">understanding</span>. </p>
      </div>
    </div>
    <div class="right-section-profile align-self-center">
      <img src="assets/Img/Png/deepali-sen.png" alt="deepali-sen" class="img-fluid">
      <p class="xsm-text mt-1">Founder, QPFP®</p>
    </div>
  </div>
</div>



<div class="featured-articles content-layout container" id="team">
  <div class="featured-articles-title">
    <h2 class="text-primary text-center">Meet the team</h2>
  </div>
  <div class=" blog-articles-body grid d-flex flex-column flex-md-row flex-md-nowrap justify-content-center">
    <div class="grid-item mt-0 border-0 card" *ngFor="let team of teams">
      <div class="card-body card-height">
        <div class="card-img">
          <img src="{{team.profile}}" alt="{{team.name}}" class="img-fluid">
        </div>
        <div class="grid-item-title">
          <p class="xsm-text mb-1">{{team.post}}</p>
          <h3 class="text-primary">{{team.name}}</h3>
        </div>
        <div class="grid-item-body">
          <p class="sm-text mgt-20">{{team.desc}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-layout">
  <div class="cotainer justify-content-center">
    <h2 class="text-primary text-center">Values we share with our clients</h2>
  </div>
  <div class="container grid d-flex flex-wrap justify-content-around">
    <div class="value-plate" *ngFor="let value of values">
      <div class="value-plate-item d-flex flex-column">
        <div class="value-plate-item-header-icon">
          <img src="{{value.svgIconPath}}" alt="header-icon">
        </div>
        <div class="value-plate-item-title">
          <h5 class="text-primary">{{value.header}}</h5>
        </div>
        <div class="value-plate-item-body">
          <p class="body-text">{{value.body}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-layout" id="process">
  <div class="cover-main container position-relative">
    <div class="cover d-flex flex-column flex-md-row justify-content-md-between">
      <div class="cover-container">
        <div class="cover-container-title">
          <h2 class="text-primary text-center text-md-start">Want to work with us? </h2>
        </div>
        <div class="cover-container-body">
          <p class="body-text text-center text-md-start">Get in touch to know if we’re the right fit to help you plan
            for your Investment goals.</p>
        </div>
      </div>
      <div class="cover-button align-self-center">
        <button class="secondary-btn" [routerLink]="['/contact']">Get In touch</button>
      </div>
    </div>
    <div class="green-box position-absolute"></div>
  </div>
</div>
