<div class="mobile-menu-layout container-fluid" [ngClass]="{'show-layout': show, hide: !show}">
  <button type="button" (click)="hideMobileLayout()" class="cross-button position-relative">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path
        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
    </svg>
  </button>
</div>
<div class="navbar-items d-flex d-lg-none">
  <div class="navbar-links d-flex flex-column justify-content-center text-center mb-0"
    [ngClass]="{show: show, hide: !show}">
    <div class="navbar-link-item text-info" [routerLink]="['/']" (click)="hideMobileLayout()"><a>Home</a></div>
    <div class="navbar-link-item text-info" [routerLink]="['/about']" (click)="hideMobileLayout()"><a>About</a></div>
    <div class="navbar-link-item text-info" [routerLink]="['/services']" (click)="hideMobileLayout()"><a>Our Services</a>
    </div>
    <div class="navbar-link-item text-info" [routerLink]="['/process']" (click)="hideMobileLayout()"><a>Our Process</a>
    </div>
    <div class="navbar-link-item text-info" [routerLink]="['/blog']" (click)="hideMobileLayout()"><a>Blog</a></div>
    <div class="navbar-link-item text-info" [routerLink]="['/contact']" (click)="hideMobileLayout()"><a>Contact</a>
    </div>
  </div>
</div>
<div class="container-fluid menu">
  <div class="navbar navbar-container d-flex justify-content-between">
    <div class="navbar-brand mb-4">
      <a href="#" class="companyLogo d-flex gap-2">
        <img src="assets/Img/Svg/company-logo.svg" alt="Logo" class="img-fluid">
      </a>
    </div>
    <button type="button" (click)="showMobileLayout()" class="hamburger-button d-lg-none">
      <img src="assets/Img/Svg/hamburger.svg" alt="hamburger">
    </button>
    <div class="navbar-items d-none d-lg-flex">
      <div class="navbar-links d-flex mb-0">
        <div class="navbar-link-item text-info" [routerLink]="['/']" (click)="hideMobileLayout()"><a>Home</a></div>
        <div class="navbar-link-item text-info" [routerLink]="['/about']" (click)="hideMobileLayout()"><a>About</a></div>
        <div class="navbar-link-item text-info" [routerLink]="['/services']" (click)="hideMobileLayout()"><a>Our Services</a>
        </div>
        <div class="navbar-link-item text-info" [routerLink]="['/process']" (click)="hideMobileLayout()"><a>Our Process</a>
        </div>
        <div class="navbar-link-item text-info" [routerLink]="['/blog']" (click)="hideMobileLayout()"><a>Blog</a></div>
        <div class="navbar-link-item text-info" [routerLink]="['/contact']" (click)="hideMobileLayout()"><a>Contact</a>
        </div>
      </div>
    </div>
    <div class="navbar-action d-none d-lg-flex pb-2">
      <button class="btn btn-green">Get In touch</button>
    </div>
  </div>
</div>
