@import "node_modules/bootstrap/scss/mixins";
@import "src/layout.scss";

.menu {
  background: $initial-background;
  border: 0.75px solid #d7e0d4;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 100ms ease;
}
.scrolling {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar {
  a {
    text-decoration: none;
    color: #575757;
  }
  &-items {
    align-self: center;
    @include media-breakpoint-up(lg) {
      gap: 43px;
    }
    #dropdownIcon{
      transition: all 0.8s ease;
    }
    .dropdownMenu {
      position: absolute;
      opacity: 0;
      top: 96px;
      width: 176px;
      background: #fff;
      list-style: none;
      padding: 8.5px 7px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: all .8s ease;
      &-items {
        .border {
          height: 0.5px;
          margin: 9.5px 0;
        }
        .item {
          padding: 0 7px;
          color: #575757;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.1px;
          word-wrap: break-word;
        }
      }
    }
    .show{
      opacity: 1;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: 18px 40px 18px 18px;
  }
  &-brand {
    svg {
      @include media-breakpoint-down(md) {
        height: 27px;
        width: 147px;
      }
    }
  }
  &-links {
    text-decoration: none;
    list-style: none;
    gap: 25px;
    align-self: center;
    padding-left: 0;
    @include media-breakpoint-down(lg) {
      gap: 16px;
      width: 100%;
      position: absolute;
      z-index: 99999;
      padding: 51.5px 15px 32px 15px;
    }
    .navbar-link-item {
      //styleName: H5 – 16pt;
      font-family: $body-font;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.10000000149011612px;
      text-align: left;
      cursor: pointer;
      padding: 0px 5px;
      @include media-breakpoint-down(lg) {
        transform: translateY(-20%) translateZ(0px);
        font-family: $title-font;
        padding: 8px 16px;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.4000000059604645px;
        color: #004a43 !important;
        opacity: 0;
      }
      &:hover {
        color: $primary;
      }
    }
    .nav-social-icon {
      @include media-breakpoint-down(lg) {
        margin-top: 2% !important;
      }
      img {
        width: 20px;
        height: 20px;
        @include media-breakpoint-up(md) {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
.navbar-brand {
  margin-right: 0;
}
.mobile-menu-layout {
  position: fixed;
  background: #fff;
  padding: 0;
  z-index: 9999;
  width: 100%;
  transform: translateY(-130%) translateZ(0px);
  @include media-breakpoint-down(lg) {
    height: 100vh;
    top: -9%;
  }
  .cross-button {
    left: 80%;
    top: 30px;
    border: none;
    background: #004a43;
  }
}
.show-layout {
  animation-name: slide-down;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
.hide-layout {
  animation-name: slide-up;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.hamburger-button {
  border: none;
  background: #fff;
}
.blue-line {
  width: 25px;
  height: 2px;
  border-radius: 9em;
  background: $primary;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
  &-a {
    position: relative;
    transform: rotate(-40deg);
    top: 3px;
  }
  &-b {
    position: relative;
    transform: rotate(40deg);
    bottom: 3px;
  }
  &-c {
    opacity: 0;
  }
}
.show-menu {
  animation-name: show-menu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-130%) translateZ(0px);
  }
  100% {
    transform: translateY(15%) translateZ(0px);
    opacity: 0.99;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(15%) translateZ(0px);
    opacity: 0.99;
  }
  100% {
    transform: translateY(-130%) translateZ(0px);
  }
}
@keyframes show-menu {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0%) translateZ(0px);
    opacity: 1;
  }
}
.delay-1s {
  animation-delay: 0.2s;
}
.delay-2s {
  animation-delay: 0.3s;
}
.delay-3s {
  animation-delay: 0.4s;
}
.delay-4s {
  animation-delay: 0.5s;
}
.delay-5s {
  animation-delay: 0.6s;
}
.delay-6s {
  animation-delay: 0.7s;
}
.delay-7s {
  animation-delay: 0.8s;
}

.under-line {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -35px;
    left: 0;
    background-color: $primary;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}
.active {
  color: #1c4044 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: -35px;
    left: 0;
    background-color: $primary;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  a {
    color: #1c4044 !important;
  }
}
