<div class="hero-section container-fluid">
  <div class="container content text-center">
    <p class="subtitle body-text text-uppercase text-center">our process</p>
    <h2 class="title text-white">How we do it? </h2>
    <p class="body md-text text-center text-white">A Proven planning process is what converts your goals into reality.
      Here’s how we do it</p>
    <div class="process-line d-none d-md-flex justify-content-center">
      <div class="process-line-item">
        <div class="header-icon">
          <img src="assets/Img/Svg/process-icon1.svg" alt="icon">
        </div>
        <p class="sm-text text-center text-white">Schedule Consultation </p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <img src="assets/Img/Svg/process-icon2.svg" alt="icon">
        </div>
        <p class="sm-text text-center text-white">Access Financial Situation</p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <img src="assets/Img/Svg/process-icon3.svg" alt="icon">
        </div>
        <p class="sm-text text-center text-white">Create Plan</p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <img src="assets/Img/Svg/process-icon4.svg" alt="icon">
        </div>
        <p class="sm-text text-center text-white">Implement plan</p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <img src="assets/Img/Svg/process-icon4.svg" alt="icon">
        </div>
        <p class="sm-text text-center text-white">Monitor & Review</p>
      </div>
    </div>
  </div>
</div>

<div class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h1 class="text-primary title">1. Schedule a Consultation </h1>
    <p class="md-text">The first step in our process is to schedule a free consultation with us. During this initial
      conversation, we will take the time to listen to your financial goals, concerns, and aspirations. </p>
    <p class="md-text">In case you find us the right fit, we’ll get this going with a simple and work-able plan</p>
  </div>
  <div class="profile-content position-relative d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 1 </p>
    </div>
  </div>
</div>

<div class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center order-md-2 order-1">
    <h1 class="text-primary title">2. Schedule a Consultation </h1>
    <p class="md-text">The first step in our process is to schedule a free consultation with us. During this initial
      conversation, we will take the time to listen to your financial goals, concerns, and aspirations. </p>
    <p class="md-text">In case you find us the right fit, we’ll get this going with a simple and work-able plan</p>
  </div>
  <div class="profile-content position-relative order-md-1 order-2 d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 2 </p>
    </div>
  </div>
</div>

<div class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h1 class="text-primary title">3. Schedule a Consultation </h1>
    <p class="md-text">The first step in our process is to schedule a free consultation with us. During this initial
      conversation, we will take the time to listen to your financial goals, concerns, and aspirations. </p>
    <p class="md-text">In case you find us the right fit, we’ll get this going with a simple and work-able plan</p>
  </div>
  <div class="profile-content position-relative d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 3 </p>
    </div>
  </div>
</div>

<div class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center order-md-2 order-1">
    <h1 class="text-primary title">4. Schedule a Consultation </h1>
    <p class="md-text">The first step in our process is to schedule a free consultation with us. During this initial
      conversation, we will take the time to listen to your financial goals, concerns, and aspirations. </p>
    <p class="md-text">In case you find us the right fit, we’ll get this going with a simple and work-able plan</p>
  </div>
  <div class="profile-content position-relative order-1 d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 4 </p>
    </div>
  </div>
</div>

<div class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h1 class="text-primary title">5. Schedule a Consultation </h1>
    <p class="md-text">The first step in our process is to schedule a free consultation with us. During this initial
      conversation, we will take the time to listen to your financial goals, concerns, and aspirations. </p>
    <p class="md-text">In case you find us the right fit, we’ll get this going with a simple and work-able plan</p>
  </div>
  <div class="profile-content position-relative d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 5 </p>
    </div>
  </div>
</div>

<div class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center order-md-2 order-1">
    <h1 class="text-primary title">6. Schedule a Consultation </h1>
    <p class="md-text">The first step in our process is to schedule a free consultation with us. During this initial
      conversation, we will take the time to listen to your financial goals, concerns, and aspirations. </p>
    <p class="md-text">In case you find us the right fit, we’ll get this going with a simple and work-able plan</p>
  </div>
  <div class="profile-content position-relative order-1 d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 6 </p>
    </div>
  </div>
</div>

<div class="cover-main container position-relative">
  <div class="cover d-flex flex-column flex-md-row justify-content-md-between">
    <div class="cover-container">
      <div class="cover-container-title">
        <h3 class="text-primary text-center text-md-start">Want to work with us? </h3>
      </div>
      <div class="cover-container-body">
        <p class="body-text text-center text-md-start">Get in touch to know if we’re the right fit to help you plan for your financial planning
          needs</p>
      </div>
    </div>
    <div class="cover-button align-self-center">
      <button class="btn btn-outline-green">Let’s talk it over</button>
    </div>
  </div>
  <div class="green-box position-absolute"></div>
</div>
