<div class="hero-section top-bg-margin container-fluid">
  <div class="container content text-center">
    <p class="subtitle subtitle-text text-uppercase text-center">our process</p>
    <h1 class="title text-white">How we do it? </h1>
    <p class="body md-text text-center text-white">A Proven planning process is what converts your goals into reality.
      Here’s how we do it</p>
    <div class="process-line d-none d-md-flex justify-content-center">
      <div class="process-line-item">
        <div class="header-icon">
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 16.6455L11.25 18.913C12.8571 19.7319 13.1824 14.5106 15 14" stroke="#12302D" stroke-width="2" />
            <rect x="1" y="3.08337" width="21.9583" height="20.9167" rx="1" stroke="white" stroke-width="2" />
            <path d="M1 3H23V6.5V10H1V7.14286V3Z" fill="#12302D" stroke="white" stroke-width="2" />
            <line x1="4.2085" y1="2.08337" x2="4.2085" y2="4.05312e-05" stroke="white" stroke-width="2" />
            <line x1="18.7915" y1="2.08337" x2="18.7915" y2="4.05312e-05" stroke="white" stroke-width="2" />
          </svg>
        </div>
        <p class="sm-text text-center mt-md-2 text-white" style="font-family: 'degular', sans-serif; line-height: 24px;">Schedule Consultation </p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.82568 16.3087V28.8725H7.75857V16.3087H1.82568Z" stroke="white" stroke-width="2" />
            <path d="M11.0742 20.1477V28.8725H17.0071V20.1477H11.0742Z" stroke="white" stroke-width="2" />
            <path d="M20.8257 14V29H26.8257V14H20.8257Z" stroke="white" stroke-width="2" />
            <path d="M4 10.0738L12.2013 1.87248L21.1007 8.85235L27.906 1" stroke="#004A43" stroke-width="2" />
          </svg>
        </div>
        <p class="sm-text text-center mt-md-2 text-white" style="font-family: 'degular', sans-serif; line-height: 24px;">Assess Financial Situation</p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23 20.5089V1H29V20.5089L25.7857 24L23 20.5089Z" fill="#034737" stroke="white" stroke-width="2" />
            <path d="M23.5 6.5H28.5" stroke="white" stroke-width="3" />
            <path
              d="M19 1H14.3412M19 25H14.3412M14.3412 25H1V16.8947M14.3412 25V16.8947M14.3412 1H1V8.78947M14.3412 1V8.78947M1 8.78947H14.3412M1 8.78947V16.8947M19 8.78947H14.3412M14.3412 8.78947V16.8947M14.3412 16.8947H1"
              stroke="white" stroke-width="2" />
          </svg>
        </div>
        <p class="sm-text text-center mt-md-2 text-white" style="font-family: 'degular', sans-serif; line-height: 24px;">Create Plan</p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 26.8026L19.9419 21L39 26.8026M1 26.8026V33.5526L19.9419 39M1 26.8026L19.9419 32.3684M19.9419 39L39 32.9605V26.8026M19.9419 39V32.3684M39 26.8026L19.9419 32.3684"
              stroke="white" />
            <path d="M17 25L19.9412 27M19.9412 27L23 25M19.9412 27V15" stroke="white" />
            <path d="M1 33.6V27L20 32.52L19.5 38.5L1 33.6Z" fill="#16736A" stroke="white" />
            <path
              d="M24 1H21.1529M24 15H21.1529M21.1529 15H13V10.2719M21.1529 15V10.2719M21.1529 1H13V5.54386M21.1529 1V5.54386M13 5.54386H21.1529M13 5.54386V10.2719M24 5.54386H21.1529M21.1529 5.54386V10.2719M21.1529 10.2719H13M21.1529 10.2719H24"
              stroke="white" />
            <path d="M27 12.875V1H30V12.875L28.3929 15L27 12.875Z" fill="#034737" stroke="white" />
            <path d="M27 5H30" stroke="white" stroke-width="2" />
          </svg>
        </div>
        <p class="sm-text text-center mt-md-2 text-white" style="font-family: 'degular', sans-serif; line-height: 24px;">Implement Plan</p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.08 21L20.16 17.7162L18 19.0541V12L24 15.0405L22.08 16.5L24 19.5405L22.08 21Z" fill="#034737"
              stroke="white" />
            <rect x="1.5" y="1.5" width="27" height="22" stroke="white" stroke-width="3" />
            <line x1="10" y1="8" x2="21" y2="8" stroke="white" stroke-width="2" />
            <line x1="10" y1="12" x2="16" y2="12" stroke="white" stroke-width="2" />
          </svg>
        </div>
        <p class="sm-text text-center mt-md-2 text-white" style="font-family: 'degular', sans-serif; line-height: 24px;">Monitor & Review</p>
      </div>
    </div>
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h2 class="text-primary title">1. Schedule a Consultation </h2>
    <p class="md-text">The first step in our process is to schedule a free consultation with us. During this initial
      conversation, we will take the time to listen to your financial goals, concerns, and aspirations. </p>
    <p class="md-text">In case you find us the right fit, we’ll get this going with a simple and work-able plan</p>
  </div>
  <div class="profile-content position-relative d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <h6 class="text-primary text-center">Step 1 </h6>
    </div>
    <div class="right-dashed-element position-absolute">
      <svg width="614" height="164" viewBox="0 0 614 164" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="89" y="60.5219" width="174.258" height="64" fill="#CCDDDB" />
        <line y1="60.7924" x2="895.027" y2="60.7924" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="0.0136719" y1="124.292" x2="895.041" y2="124.292" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="612.266" y1="163.025" x2="613.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="437.266" y1="163.025" x2="438.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="262.266" y1="163.025" x2="263.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="87.2656" y1="163.025" x2="88.2793" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
      </svg>
    </div>
    <div class="right-icon position-absolute">
      <svg width="29.76" height="31" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 16.6455L11.25 18.913C12.8571 19.7319 13.1824 14.5106 15 14" stroke="#fff" stroke-width="2" />
        <rect x="1" y="3.08337" width="21.9583" height="20.9167" rx="1" stroke="white" stroke-width="2" />
        <path d="M1 3H23V6.5V10H1V7.14286V3Z" fill="none" stroke="white" stroke-width="2" />
        <line x1="4.2085" y1="2.08337" x2="4.2085" y2="4.05312e-05" stroke="white" stroke-width="2" />
        <line x1="18.7915" y1="2.08337" x2="18.7915" y2="4.05312e-05" stroke="white" stroke-width="2" />
      </svg>
    </div>
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center order-md-2 order-1">
    <h2 class="text-primary title">2. Access your financial situation </h2>
    <p class="md-text">The next step is to assess your current financial situation. This includes gathering information
      about your income, expenses, assets, and debts.  </p>
    <p class="md-text">This will give you a clear picture of where you stand financially and be able to make more
      informed decisions about how to achieve your financial goals</p>
  </div>
  <div class="profile-content position-relative order-md-1 order-2 d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <h6 class="text-primary text-center">Step 2 </h6>
    </div>
    <div class="left-dashed-element position-absolute">
      <svg width="614" height="164" viewBox="0 0 614 164" fill="none" xmlns="http://www.w3.org/2000/svg"
        style="transform: scaleX(-1);">
        <rect x="89" y="60.5219" width="174.258" height="64" fill="#CCDDDB" />
        <line y1="60.7924" x2="895.027" y2="60.7924" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="0.0136719" y1="124.292" x2="895.041" y2="124.292" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="612.266" y1="163.025" x2="613.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="437.266" y1="163.025" x2="438.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="262.266" y1="163.025" x2="263.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="87.2656" y1="163.025" x2="88.2793" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
      </svg>
    </div>
    <div class="left-icon position-absolute">
      <svg width="33.39" height="46.86" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.82568 16.3087V28.8725H7.75857V16.3087H1.82568Z" stroke="white" stroke-width="2" />
        <path d="M11.0742 20.1477V28.8725H17.0071V20.1477H11.0742Z" stroke="white" stroke-width="2" />
        <path d="M20.8257 14V29H26.8257V14H20.8257Z" stroke="white" stroke-width="2" />
        <path d="M4 10.0738L12.2013 1.87248L21.1007 8.85235L27.906 1" stroke="white" stroke-width="2" />
      </svg>
    </div>
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h2 class="text-primary title">3. Create a Financial Plan  </h2>
    <p class="md-text">Using the information we’ve gathered in the previous steps, we can now develop a plan that will
      help you achieve your financial goals.  </p>
    <p class="md-text">This plan includes personalized strategies for reducing debt, increasing savings, and investing
      for the future. </p>
  </div>
  <div class="profile-content position-relative d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <h6 class="text-primary text-center">Step 3 </h6>
    </div>
    <div class="right-dashed-element position-absolute">
      <svg width="614" height="164" viewBox="0 0 614 164" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="89" y="60.5219" width="174.258" height="64" fill="#CCDDDB" />
        <line y1="60.7924" x2="895.027" y2="60.7924" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="0.0136719" y1="124.292" x2="895.041" y2="124.292" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="612.266" y1="163.025" x2="613.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="437.266" y1="163.025" x2="438.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="262.266" y1="163.025" x2="263.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="87.2656" y1="163.025" x2="88.2793" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
      </svg>
    </div>
    <div class="right-icon position-absolute">
      <svg width="36" height="30.86" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23 20.5089V1H29V20.5089L25.7857 24L23 20.5089Z" fill="none" stroke="white" stroke-width="2" />
        <path d="M23.5 6.5H28.5" stroke="white" stroke-width="3" />
        <path
          d="M19 1H14.3412M19 25H14.3412M14.3412 25H1V16.8947M14.3412 25V16.8947M14.3412 1H1V8.78947M14.3412 1V8.78947M1 8.78947H14.3412M1 8.78947V16.8947M19 8.78947H14.3412M14.3412 8.78947V16.8947M14.3412 16.8947H1"
          stroke="white" stroke-width="2" />
      </svg>
    </div>
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center order-md-2 order-1">
    <h2 class="text-primary title">4. Implement your Financial Plan  </h2>
    <p class="md-text">Once we’ve created your financial plan, we will help you put it into action by executing the
      necessary investments.</p>
  </div>
  <div class="profile-content position-relative order-1 d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <h6 class="text-primary text-center">Step 4 </h6>
    </div>
    <div class="left-dashed-element position-absolute">
      <svg width="614" height="164" viewBox="0 0 614 164" fill="none" xmlns="http://www.w3.org/2000/svg"
        style="transform: scaleX(-1);">
        <rect x="89" y="60.5219" width="174.258" height="64" fill="#CCDDDB" />
        <line y1="60.7924" x2="895.027" y2="60.7924" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="0.0136719" y1="124.292" x2="895.041" y2="124.292" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="612.266" y1="163.025" x2="613.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="437.266" y1="163.025" x2="438.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="262.266" y1="163.025" x2="263.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="87.2656" y1="163.025" x2="88.2793" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
      </svg>
    </div>
    <div class="left-icon position-absolute">
      <svg width="50" height="50" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1 26.8026L19.9419 21L39 26.8026M1 26.8026V33.5526L19.9419 39M1 26.8026L19.9419 32.3684M19.9419 39L39 32.9605V26.8026M19.9419 39V32.3684M39 26.8026L19.9419 32.3684"
          stroke="white" />
        <path d="M17 25L19.9412 27M19.9412 27L23 25M19.9412 27V15" stroke="white" />
        <path d="M1 33.6V27L20 32.52L19.5 38.5L1 33.6Z" fill="white" stroke="white" />
        <path
          d="M24 1H21.1529M24 15H21.1529M21.1529 15H13V10.2719M21.1529 15V10.2719M21.1529 1H13V5.54386M21.1529 1V5.54386M13 5.54386H21.1529M13 5.54386V10.2719M24 5.54386H21.1529M21.1529 5.54386V10.2719M21.1529 10.2719H13M21.1529 10.2719H24"
          stroke="white" />
        <path d="M27 12.875V1H30V12.875L28.3929 15L27 12.875Z" fill="white" stroke="white" />
        <path d="M27 5H30" stroke="white" stroke-width="2" />
      </svg>
    </div>
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h2 class="text-primary title">5. Monitor and Review your Financial Plan</h2>
    <p class="md-text">Financial planning is not a one-time event, but an ongoing process.</p>
    <p class="md-text">We’ll regularly review your progress, adjust your plan as needed, and stay committed to achieving
      your financial goals.</p>
  </div>
  <div class="profile-content position-relative d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <h6 class="text-primary text-center">Step 5 </h6>
    </div>
    <div class="right-dashed-element position-absolute">
      <svg width="614" height="164" viewBox="0 0 614 164" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="89" y="60.5219" width="174.258" height="64" fill="#CCDDDB" />
        <line y1="60.7924" x2="895.027" y2="60.7924" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="0.0136719" y1="124.292" x2="895.041" y2="124.292" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="612.266" y1="163.025" x2="613.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="437.266" y1="163.025" x2="438.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="262.266" y1="163.025" x2="263.279" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
        <line x1="87.2656" y1="163.025" x2="88.2793" y2="0.996866" stroke="#016C62" stroke-dasharray="6 6" />
      </svg>
    </div>
    <div class="right-icon position-absolute">
      <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22.08 21L20.16 17.7162L18 19.0541V12L24 15.0405L22.08 16.5L24 19.5405L22.08 21Z" fill="white"
          stroke="white" />
        <rect x="1.5" y="1.5" width="27" height="22" stroke="white" stroke-width="3" />
        <line x1="10" y1="8" x2="21" y2="8" stroke="white" stroke-width="2" />
        <line x1="10" y1="12" x2="16" y2="12" stroke="white" stroke-width="2" />
      </svg>
    </div>
  </div>
</div>


<div
  class="container faq d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-around section-top-bottom-margin" id="faq">
  <div class="faq-header">
    <div class="title">
      <h2 class="text-primary">Got questions?</h2>
    </div>
    <div class="body">
      <p class="sm-text text-primary">If you’ve any other questions or concerns about our services, you can email to
        <a href="mailto: deepali@srujanfs.com" class="link">deepali@srujanfs.com</a>, and we’ll address your query within 3 working
        days. </p>
    </div>
  </div>
  <div class="faq-question">
    <div class="faq-question-item">
      <div class="d-flex  justify-content-between question" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne" (click)="toggle(1)">
        <p class="body-text align-self-center text-primary fw-bold">What is personal finance guidance?</p>
        <svg class="arrow" [ngClass]="{'rotate':rotate1}" width="6" height="12" viewBox="0 0 6 12" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.77793 11.6219V10.7579C1.77793 8.27395 3.46993 6.88795 5.77393 6.86995V5.24995C3.46993 5.24995 1.77793 3.84595 1.77793 1.37995V0.515948L0.265925 0.515948L0.265925 1.37995C0.265925 3.32395 1.07593 4.63795 2.82193 5.10595V5.35795L2.82193 6.76195V7.03195C1.07593 7.49995 0.265925 8.79595 0.265925 10.7579V11.6219L1.77793 11.6219Z"
            fill="#004A43" />
        </svg>
      </div>
      <div id="collapseOne" class="accordion-collapse answere collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p class="body-text text-primary">Personal finance guidance refers to the advice and support that individuals
            receive in managing their money and financial affairs. This can include</p>
          <ul class="ps-3">
            <li class="body-text text-primary">Creating and sticking to a budget</li>
            <li class="body-text text-primary">Debt management strategies</li>
            <li class="body-text text-primary">Investing for retirement, and more.</li>
          </ul>
          <p class="body-text text-primary">At its core, personal finance guidance is about empowering individuals to
            make informed decisions about their finances and ultimately achieve their financial goals.</p>
        </div>
      </div>
    </div>
    <div class="faq-question-item">
      <div class="d-flex justify-content-between question" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseOne" (click)="toggle(2)">
        <p class="body-text align-self-center text-primary fw-bold">Who seeks our services?</p>
        <svg class="arrow" [ngClass]="{'rotate':rotate2}" width="6" height="12" viewBox="0 0 6 12" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.77793 11.6219V10.7579C1.77793 8.27395 3.46993 6.88795 5.77393 6.86995V5.24995C3.46993 5.24995 1.77793 3.84595 1.77793 1.37995V0.515948L0.265925 0.515948L0.265925 1.37995C0.265925 3.32395 1.07593 4.63795 2.82193 5.10595V5.35795L2.82193 6.76195V7.03195C1.07593 7.49995 0.265925 8.79595 0.265925 10.7579V11.6219L1.77793 11.6219Z"
            fill="#004A43" />
        </svg>
      </div>
      <div id="collapseTwo" class="accordion-collapse answere collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p class="body-text text-primary">People from all walks of life, including those who are just starting out
            their careers, to individuals who are nearing retirement, anyone who wants to better manage their finances,
            plan for their future, and make informed decisions about their investments benefit from seeking our
            services.</p>
        </div>
      </div>
    </div>
    <div class="faq-question-item">
      <div class="d-flex justify-content-between question" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="true" aria-controls="collapseOne" (click)="toggle(3)">
        <p class="body-text align-self-center text-primary fw-bold">How do I know if your guidance will be useful for
          me?</p>
        <svg class="arrow" [ngClass]="{'rotate':rotate3}" width="6" height="12" viewBox="0 0 6 12" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.77793 11.6219V10.7579C1.77793 8.27395 3.46993 6.88795 5.77393 6.86995V5.24995C3.46993 5.24995 1.77793 3.84595 1.77793 1.37995V0.515948L0.265925 0.515948L0.265925 1.37995C0.265925 3.32395 1.07593 4.63795 2.82193 5.10595V5.35795L2.82193 6.76195V7.03195C1.07593 7.49995 0.265925 8.79595 0.265925 10.7579V11.6219L1.77793 11.6219Z"
            fill="#004A43" />
        </svg>
      </div>
      <div id="collapseThree" class="accordion-collapse answere collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p class="body-text text-primary">The best way to find out if our financial guidance will be useful for you is to schedule an initial consultation with us. </p>
          <p class="body-text text-primary">During this consultation, we’ll listen to your goals and concerns, and also answer any questions you may have about our services. </p>
        </div>
      </div>
    </div>
    <div class="faq-question-item">
      <div class="d-flex justify-content-between question" data-bs-toggle="collapse" data-bs-target="#collapseFour"
      aria-expanded="true" aria-controls="collapseOne" (click)="toggle(4)">
      <p class="body-text align-self-center text-primary fw-bold">What changes can I expect after seeking your
        guidance? </p>
        <svg class="arrow" [ngClass]="{'rotate':rotate4}" width="6" height="12" viewBox="0 0 6 12" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
        d="M1.77793 11.6219V10.7579C1.77793 8.27395 3.46993 6.88795 5.77393 6.86995V5.24995C3.46993 5.24995 1.77793 3.84595 1.77793 1.37995V0.515948L0.265925 0.515948L0.265925 1.37995C0.265925 3.32395 1.07593 4.63795 2.82193 5.10595V5.35795L2.82193 6.76195V7.03195C1.07593 7.49995 0.265925 8.79595 0.265925 10.7579V11.6219L1.77793 11.6219Z"
        fill="#004A43" />
      </svg>
    </div>
    <div id="collapseFour" class="accordion-collapse answere collapse" aria-labelledby="headingOne"
    data-bs-parent="#accordionExample">
    <div class="accordion-body">
          <p class="body-text text-primary">It’s important to remember that everyone’s financial journey is unique, so the changes you can expect after seeking our financial guidance will depend on your individual circumstances and goals.</p>
          <p class="body-text text-primary">However, our past clients have reported some pretty exciting improvements!</p>
          <p class="body-text text-primary">Many of our clients feel more organized when it comes to managing their finances, they have a clearer understanding of their financial goals, and more importantly, they feel more confident and in control of their financial futures.</p>
        </div>
      </div>
    </div>
    <div class="faq-question-item">
      <div class="d-flex justify-content-between question" data-bs-toggle="collapse" data-bs-target="#collapseFive"
      aria-expanded="true" aria-controls="collapseOne" (click)="toggle(5)">
      <p class="body-text align-self-center text-primary fw-bold">How can I trust your advice if you make a commission
        from my investments? </p>
        <svg class="arrow" [ngClass]="{'rotate':rotate5}" width="6" height="12" viewBox="0 0 6 12" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
        d="M1.77793 11.6219V10.7579C1.77793 8.27395 3.46993 6.88795 5.77393 6.86995V5.24995C3.46993 5.24995 1.77793 3.84595 1.77793 1.37995V0.515948L0.265925 0.515948L0.265925 1.37995C0.265925 3.32395 1.07593 4.63795 2.82193 5.10595V5.35795L2.82193 6.76195V7.03195C1.07593 7.49995 0.265925 8.79595 0.265925 10.7579V11.6219L1.77793 11.6219Z"
        fill="#004A43" />
      </svg>
    </div>
    <div id="collapseFive" class="accordion-collapse answere collapse" aria-labelledby="headingOne"
    data-bs-parent="#accordionExample">
    <div class="accordion-body">
          <p class="body-text text-primary">Not every investment opportunity is suitable for every individual, that’s why we make it a priority to educate you on the investments we recommend and why we believe they are a good fit for your specific financial situation.</p>
          <p class="body-text text-primary">Though we earn a commission on your investments. Our goal is to help you make informed decisions that align with your financial objectives, rather than pushing products for the sake of earning commissions.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="content-layout">
  <div class="cover-main container position-relative">
    <div class="cover d-flex flex-column flex-md-row justify-content-md-between">
      <div class="cover-container">
        <div class="cover-container-title">
          <h2 class="text-primary text-center text-md-start">Ready to get started?</h2>
        </div>
        <div class="cover-container-body">
          <p class="body-text text-center text-md-start">If you’re interested in taking meaningful action towards taking control over your finances and achieving your financial goals, we’d love to chat with you. </p>
        </div>
      </div>
      <div class="cover-button align-self-center">
        <button class="secondary-btn" [routerLink]="['/contact']" aria-label="Get Started Button">Get In touch</button>
      </div>
    </div>
    <div class="green-box position-absolute"></div>
  </div>
</div>
