<div class="hero-section container-fluid">
  <div class="container content text-center">
    <p class="subtitle body-text text-uppercase text-center">our process</p>
    <h1 class="title text-white">How we do it? </h1>
    <p class="body md-text text-center text-white">A Proven planning process is what converts your goals into reality.
      Here’s how we do it</p>
    <div class="process-line d-none d-md-flex justify-content-center">
      <div class="process-line-item">
        <div class="header-icon">
          <img src="assets/Img/Svg/process-icon1.svg" alt="icon">
        </div>
        <p class="sm-text text-center text-white">Schedule Consultation </p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <img src="assets/Img/Svg/process-icon2.svg" alt="icon">
        </div>
        <p class="sm-text text-center text-white">Access Financial Situation</p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <img src="assets/Img/Svg/process-icon3.svg" alt="icon">
        </div>
        <p class="sm-text text-center text-white">Create Plan</p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <img src="assets/Img/Svg/process-icon4.svg" alt="icon">
        </div>
        <p class="sm-text text-center text-white">Implement plan</p>
      </div>
      <div class="horizontal-line d-none d-md-block"></div>
      <div class="process-line-item">
        <div class="header-icon">
          <img src="assets/Img/Svg/process-icon4.svg" alt="icon">
        </div>
        <p class="sm-text text-center text-white">Monitor & Review</p>
      </div>
    </div>
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h2 class="text-primary title">1. Schedule a Consultation </h2>
    <p class="md-text">The first step in our process is to schedule a free consultation with us. During this initial
      conversation, we will take the time to listen to your financial goals, concerns, and aspirations. </p>
    <p class="md-text">In case you find us the right fit, we’ll get this going with a simple and work-able plan</p>
  </div>
  <div class="profile-content position-relative d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 1 </p>
    </div>
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center order-md-2 order-1">
    <h2 class="text-primary title">2. Access your financial situation </h2>
    <p class="md-text">The next step is to assess your current financial situation. This includes gathering information
      about your income, expenses, assets, and debts.  </p>
    <p class="md-text">This will give you a clear picture of where you stand financially and be able to make more
      informed decisions about how to achieve your financial goals</p>
  </div>
  <div class="profile-content position-relative order-md-1 order-2 d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 2 </p>
    </div>
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h2 class="text-primary title">3. Create a Financial Plan  </h2>
    <p class="md-text">Using the information we’ve gathered in the previous steps, we can now develop a plan that will
      help you achieve your financial goals.  </p>
    <p class="md-text">This plan includes personalized strategies for reducing debt, increasing savings, and investing
      for the future. </p>
  </div>
  <div class="profile-content position-relative d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 3 </p>
    </div>
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center order-md-2 order-1">
    <h2 class="text-primary title">4. Implement your Financial Plan  </h2>
    <p class="md-text">Once we’ve created your financial plan, we will help you put it into action by executing the
      necessary investments.</p>
  </div>
  <div class="profile-content position-relative order-1 d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 4 </p>
    </div>
  </div>
</div>

<div
  class="container layout d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-center section-top-bottom-margin">
  <div class="text-content align-self-center">
    <h2 class="text-primary title">5. Monitor and Review your Financial Plan</h2>
    <p class="md-text">Financial planning is not a one-time event, but an ongoing process.</p>
    <p class="md-text">We’ll regularly review your progress, adjust your plan as needed, and stay committed to achieving your financial goals.</p>
  </div>
  <div class="profile-content position-relative d-none d-md-block">
    <div class="progress-indicator position-absolute">
      <p class="sm-text text-primary text-center">Step 5 </p>
    </div>
  </div>
</div>

<div class="content-layout">
  <div class="cover-main container position-relative">
    <div class="cover d-flex flex-column flex-md-row justify-content-md-between">
      <div class="cover-container">
        <div class="cover-container-title">
          <h2 class="text-primary text-center text-md-start">Want to work with us? </h2>
        </div>
        <div class="cover-container-body">
          <p class="body-text text-center text-md-start">Get in touch to know if we’re the right fit to help you plan
            for your financial planning
            needs</p>
        </div>
      </div>
      <div class="cover-button align-self-center">
        <button class="btn secondary-btn">Let’s talk it over</button>
      </div>
    </div>
    <div class="green-box position-absolute"></div>
  </div>
</div>
