<div class="main container-fluid">
  <div class="cover position-relative d-flex justify-content-center">
    <div class="left-pattern pattern d-none d-lg-flex position-absolute">
      <img src="assets/Img/Png/left-bg.png" alt="pattern">
    </div>
    <div class="cover-container text-center">
      <div class="cover-container-tag">
        <h6 class="text-secondary text-center">RESOURCES</h6>
      </div>
      <div class="cover-container-title">
        <h1 class="text-primary">Long headline to turn your visitors into users</h1>
      </div>
    </div>
    <div class="right-pattern pattern d-none d-lg-flex position-absolute">
      <img src="assets/Img/Png/Right-bg.png" alt="pattern">
    </div>
  </div>
</div>


<div class="container">
  <div class="content-layout">
    <div class="blog-header blog-component d-flex flex-column flex-md-row justify-content-between">
      <div class="blog-header-title">
        <h2 class="text-primary">Recent Blog Posts</h2>
      </div>
      <div class="blog-header-button d-none d-md-block">
        <button class="btn secondary-btn">View All </button>
      </div>
    </div>
    <div class="blog-tiles blog-component d-flex flex-column flex-md-row justify-content-between">
      <div class="blog-tiles-item">
        <div class="header"></div>
        <div class="body">
          <h5 class="text-primary">Long headline to turn your visitors</h5>
          <p class="text-info body-text">Harmonious colour themes have built up as the collection has evolved. </p>
          <div class="link">
            <button class="btn btn-primary-link text-primary">Read Now</button>
            <img src="assets/Img/Svg/right-arrow.svg" class="mt-1" alt="right arrow">
          </div>
        </div>
      </div>
      <div class="blog-tiles-item">
        <div class="header"></div>
        <div class="body">
          <h5 class="text-primary">Long headline to turn your visitors</h5>
          <p class="text-info body-text">Harmonious colour themes have built up as the collection has evolved. </p>
          <div class="link">
            <button class="btn btn-primary-link text-primary">Read Now</button>
            <img src="assets/Img/Svg/right-arrow.svg" class="mt-1" alt="right arrow">
          </div>
        </div>
      </div>
      <div class="blog-tiles-item">
        <div class="header"></div>
        <div class="body">
          <h5 class="text-primary text-center text-md-start">Long headline to turn your visitors</h5>
          <p class="text-info body-text text-center text-md-start">Harmonious colour themes have built up as the
            collection has evolved. </p>
          <div class="link">
            <button class="btn btn-primary-link text-primary">Read Now</button>
            <img src="assets/Img/Svg/right-arrow.svg" class="mt-1" alt="right arrow">
          </div>
        </div>
      </div>
    </div>
    <div class="blog-tiles blog-component d-flex flex-column flex-md-row justify-content-between">
      <div class="blog-tiles-item">
        <div class="header"></div>
        <div class="body">
          <h5 class="text-primary">Long headline to turn your visitors</h5>
          <p class="text-info body-text">Harmonious colour themes have built up as the collection has evolved. </p>
          <div class="link">
            <button class="btn btn-primary-link text-primary">Read Now</button>
            <img src="assets/Img/Svg/right-arrow.svg" class="mt-1" alt="right arrow">
          </div>
        </div>
      </div>
      <div class="blog-tiles-item">
        <div class="header"></div>
        <div class="body">
          <h5 class="text-primary">Long headline to turn your visitors</h5>
          <p class="text-info body-text">Harmonious colour themes have built up as the collection has evolved. </p>
          <div class="link">
            <button class="btn btn-primary-link text-primary">Read Now</button>
            <img src="assets/Img/Svg/right-arrow.svg" class="mt-1" alt="right arrow">
          </div>
        </div>
      </div>
      <div class="blog-tiles-item">
        <div class="header"></div>
        <div class="body">
          <h5 class="text-primary text-center text-md-start">Long headline to turn your visitors</h5>
          <p class="text-info body-text text-center text-md-start">Harmonious colour themes have built up as the
            collection has evolved. </p>
          <div class="link">
            <button class="btn btn-primary-link text-primary">Read Now</button>
            <img src="assets/Img/Svg/right-arrow.svg" class="mt-1" alt="right arrow">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-layout">
  <div class="cover-main container position-relative">
    <div class="cover d-flex justify-content-center">
      <div class="cover-container text-center">
        <div class="cover-container-tag">
          <h6 class="text-secondary text-center">Tagline</h6>
        </div>
        <div class="cover-container-title">
          <h2 class="text-primary text-center">Long headline to turn your visitors into users</h2>
        </div>
        <div class="cover-container-input d-flex justify-content-center">
          <input type="email" class="form-control shadow-none rounded-0" placeholder="Enter your email address"
            aria-label="Recipient's email" aria-describedby="button-addon2">
          <button class="btn btn-input rounded-0">Subscribe</button>
        </div>
        <div class="cover-container-click-details">
          <p class="xsm-text text-info text-center mt-2">By clicking the Button you confirming that you’re agree with our following Terms
            and
            Conditions</p>
        </div>
      </div>
    </div>
    <div class="green-box position-absolute"></div>
  </div>
</div>
