<div class="main container-fluid">
  <div class="cover position-relative d-flex justify-content-center">
    <div class="left-pattern pattern d-none d-lg-flex position-absolute">
      <img src="assets/Img/Png/light-left-bg.png" alt="pattern">
    </div>
    <div class="cover-container text-center">
      <div class="cover-container-title-icon">
        <img src="assets/Img/Png/pageNotFound.png" alt="title">
      </div>
      <div class="cover-container-title">
        <h1 class="text-white">Page Not Found </h1>
      </div>
      <div class="cover-container-body">
        <p class="text-white">Sorry, we couldn’t find the page you’re looking for. </p>
      </div>
      <div class="cover-container-button">
        <button class="btn btn-info">Take me home</button>
      </div>
    </div>
    <div class="right-pattern pattern d-none d-lg-flex position-absolute">
      <img src="assets/Img/Png/light-right-bg.png" alt="pattern">
    </div>
  </div>
</div>
