@import "node_modules/bootstrap/scss/mixins";
@import "src/layout.scss";

.main {
  .cover {
    max-width: 1440px;
    margin: auto;
    padding: 40px 15px;
    gap: 28px;
    @include media-breakpoint-up(md) {
      gap: 110px;
      padding: 50px 165px 50px 165px;
    }
    @include media-breakpoint-up(lg) {
      padding: 129px 165px 100px 165px;
    }
    &-container {
      max-width: 730px;
      &-title-icon {
        margin-bottom: 35px;
      }
      &-body{
        margin: auto;
        max-width: 308px;
        margin-top: 16px;
        @include media-breakpoint-up(lg) {
          margin-top: 24px;
        }
      }
      &-button {
        margin-top: 24px;
        @include media-breakpoint-up(lg) {
          margin-top: 32px;
        }
      }
    }
  }
}
