<div class="contact container top-bg-margin d-flex flex-column flex-md-row justify-content-lg-center" id="form">
  <div class="contact-content">
    <div class="contact-content-title">
      <h1 class="text-primary">Get In touch</h1>
    </div>
    <div class="contact-content-body">
      <p class="text-primary body-text">You can use the contact form below to send us a message, and we'll get back to
        you as soon as possible. Or, if you prefer to keep things old-school, you can shoot us an email directly at <a
          href="mailto: deepali.sen@srujanfa.com" aria-placeholder="go to the gmail page"
          class="link">deepali.sen@srujanfa.com</a></p>
    </div>
  </div>
  <form class="contact-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <label htmlFor="name" for="exampleInputEmail1" class="form-label body-text text-info">Name*</label>
      <input type="text" formControlName="name"  required name="recipientName" id="recipientName" class="form-control shadow-none no-outline" placeholder="Enter your full name">
      <div *ngIf="formSubmitted && myForm.get('name')?.hasError('required')" class="text-danger">
        name is required.
      </div>
    </div>
    <div>
      <label htmlFor="service" for="exampleInputEmail1" class="form-label body-text text-info shadow-none">Service*</label>
      <select class="form-select shadow-none" formControlName="selectedOption" (change)="onItemSelected($event)" aria-label="Default select example">
        <option class="body-text" value="" disabled selected hidden>What service are you looking for?</option>
        <option *ngFor="let item of items" [value]="item" [class.selected-item]="item === selectedItem">
          {{ item }}
        </option>
      </select>
      <div *ngIf="formSubmitted && myForm.get('selectedOption')?.hasError('required')" class="text-danger">
        please select option.
      </div>
    </div>
    <div>
      <label htmlFor="phone-number" class="form-label text-info body-text">Your Phone Number*</label>
      <input  required id="name" formControlName="phoneNumber" name="subject" type="tel" class="form-control shadow-none" placeholder="Enter your phone number">
      <div *ngIf="formSubmitted && myForm.get('phoneNumber')?.hasError('required')" class="text-danger">
        phone-number is required.
      </div>
    </div>
    <div>
      <label htmlFor="message" for="exampleFormControlTextarea1" class="form-label text-info body-text">Message</label>
      <textarea id="message" name="message" formControlName="message"  required class="form-control shadow-none" id="exampleFormControlTextarea1" rows="4" placeholder="Enter your message "></textarea>
      <div *ngIf="formSubmitted && myForm.get('message')?.hasError('required')" class="text-danger">
        message is required.
      </div>
    </div>
    <div class="d-grid gap-2">
      <button class="secondary-btn" type="submit" aria-label="submit">
        <span *ngIf="!loading">{{ submitButtonText }}</span>
        <span *ngIf="loading">Loading...</span>
      </button>
    </div>
  </form>
</div>
