@import "node_modules/bootstrap/scss/mixins";
@import "src/layout.scss";

.form-select {
  color: rgba(0, 74, 67, 0.46);
  opacity: 0.4;
}
input {
  height: 48px;
}
.form-control {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #d7e0d4;
  border-radius: 4px;
  &::-webkit-input-placeholder {
    font-family: $body-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: rgba(0, 74, 67, 0.46);
    opacity: 0.4;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    font-family: $body-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: rgba(0, 74, 67, 0.46);
    opacity: 0.4;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    font-family: $body-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: rgba(0, 74, 67, 0.46);
    opacity: 0.4;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    font-family: $body-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: rgba(0, 74, 67, 0.46);
    opacity: 0.4;
  }
}
select {
  height: 48px;
  border-radius: 4px;
}
textarea {
  border-radius: 4px;
  &::placeholder {
    font-family: $body-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: rgba(0, 74, 67, 0.46);
    opacity: 0.4;
  }
}

.contact {
  gap: 32px;
  padding: 75px 15px;
  @include media-breakpoint-up(md) {
    gap: 50px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 150px;
    padding-bottom: 155px;
    gap: 125px;
  }
  &-content {
    @include media-breakpoint-up(md) {
      max-width: 262px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 445px;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    @include media-breakpoint-up(md) {
      width: 378px;
    }
    @include media-breakpoint-up(lg) {
      width: 540px;
    }
  }
}
