<div class="contact container d-flex flex-column flex-md-row justify-content-lg-center">
  <div class="contact-content">
    <div class="contact-content-title">
      <h1 class="text-primary">We’d love to hear from you</h1>
    </div>
    <div class="contact-content-body">
      <p class="text-info body-text">Leave your information and a dedicated financial advisor will get in touch with you </p>
    </div>
  </div>
  <form class="contact-form">
    <div>
      <label for="exampleInputEmail1" class="form-label body-text text-info">Name*</label>
      <input type="text" class="form-control shadow-none no-outline" placeholder="Enter your full name">
    </div>
    <div>
      <label for="exampleInputEmail1" class="form-label body-text text-info shadow-none">Service*</label>
      <select class="form-select shadow-none" aria-label="Default select example">
        <option class="body-text">What service are you looking for?</option>
        <option value="1" class="body-text">One</option>
        <option value="2" class="body-text">Two</option>
        <option value="3" class="body-text">Three</option>
      </select>
    </div>
    <div>
      <label class="form-label text-info body-text">Your Phone Number*</label>
      <input type="number" class="form-control shadow-none" placeholder="Enter your phone number">
    </div>
    <div>
      <label for="exampleFormControlTextarea1" class="form-label text-info body-text">Message</label>
      <textarea class="form-control shadow-none" id="exampleFormControlTextarea1" rows="4" placeholder="Enter your message "></textarea>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-green" type="button">Send</button>
    </div>
  </form>
</div>
