<div class="contact container d-flex flex-column flex-md-row justify-content-lg-center" id="form">
  <div class="contact-content">
    <div class="contact-content-title">
      <h1 class="text-primary">Get In touch</h1>
    </div>
    <div class="contact-content-body">
      <p class="text-primary body-text">You can use the contact form below to send us a message, and I'll get back to you as soon as possible. Or, if you prefer to keep things old-school, you can shoot us an email directly at <a href="#" class="link">deepali@srujanfs.com</a></p>
    </div>
  </div>
  <form class="contact-form">
    <div>
      <label for="exampleInputEmail1" class="form-label body-text text-info">Name*</label>
      <input type="text" class="form-control shadow-none no-outline" placeholder="Enter your full name">
    </div>
    <div>
      <label for="exampleInputEmail1" class="form-label body-text text-info shadow-none">Service*</label>
      <select class="form-select shadow-none" aria-label="Default select example">
        <option class="body-text" value="" disabled selected hidden>What service are you looking for?</option>
        <option value="1" class="body-text">Goal based Investment Planning</option>
        <option value="2" class="body-text">Retirement Planning</option>
        <option value="3" class="body-text">Comprehensive Life Planning</option>
      </select>
    </div>
    <div>
      <label class="form-label text-info body-text">Your Phone Number*</label>
      <input type="tel" class="form-control shadow-none" placeholder="Enter your phone number">
    </div>
    <div>
      <label for="exampleFormControlTextarea1" class="form-label text-info body-text">Message</label>
      <textarea class="form-control shadow-none" id="exampleFormControlTextarea1" rows="4" placeholder="Enter your message "></textarea>
    </div>
    <div class="d-grid gap-2">
      <button class="secondary-btn" type="button">Send</button>
    </div>
  </form>
</div>
