@import "node_modules/bootstrap/scss/mixins";
@import "src/layout.scss";
@import "src/app/process/process.component.scss";
@import "src/app/home/home.component.scss";

.right-section-content {
  @include media-breakpoint-up(md){
    max-width: 350px;
  }
  @include media-breakpoint-up(lg){
    max-width: 510px;
    align-self: center;
  }
}
.progress-indicator {
  height: 38px;
  width: 94px;
  border-radius: 0px;
  background: #A9FF9B;
  top: 29px;
}
.service-profile-content{
  @include media-breakpoint-up(md) {
    max-width: 300px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 555px;
  }
}

