@import "node_modules/bootstrap/scss/mixins";
@import "src/variables.scss";

.top-margin {
  margin-top: 95px !important;
  @include media-breakpoint-up(lg) {
    margin-top: 144px !important;
  }
}
.top-bg-margin {
  margin-top: 55px;
  @include media-breakpoint-up(md) {
    margin-top: 75px;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 95px;
  }
}
.content-layout {
  padding: 32px 0px;
  @include media-breakpoint-up(md) {
    padding: 60px 0px;
  }
  @include media-breakpoint-up(lg) {
    padding: 72px 0px;
  }
}

.content {
  &-title {
    @include media-breakpoint-down(md) {
      max-width: 317px;
    }
  }
}

.section-gap {
  margin-top: 32px;
  margin-bottom: 32px;
}
.hero-layout {
  padding: 40px 0px;
  @include media-breakpoint-up(md) {
    padding: 60px 47px;
  }
  @include media-breakpoint-up(lg) {
    padding: 60px 165px;
  }
}

.cards-row {
  gap: 15px !important;
  &-item {
    max-width: 348px;
    overflow: hidden;
    .header-img {
      margin-bottom: 24px;
    }
    .content {
      max-width: 294px;
      overflow: hidden;
    }
  }
}

.horizontal-devider {
  height: 417.00119945081104px;
  border-radius: nullpx;
  border: 1px dashed #a5b0a1;
}
.horizontal-line {
  width: 127px;
  height: 1px;
  border: 1px dashed #fff;
  margin-top: 30px;
}

.section-top-bottom-margin {
  margin-top: 40px;
  margin-bottom: 60px;
  @include media-breakpoint-up(md) {
    margin-top: 75px;
    margin-bottom: 90px;
  }
}

.featured {
  background: #fcfbfa;
  padding-top: 24px;
  padding-bottom: 48px;
  &-title {
    font-family: $title-font;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #31c3ae;
    opacity: 0.4;
  }
  .logo-section {
    gap: 24px;
    row-gap: 10px;
    align-items: center;
    @include media-breakpoint-up(md) {
      padding: 0px 0px 0px 0px;
      column-gap: 47px;
      row-gap: 0px;
    }
    @include media-breakpoint-up(lg) {
      padding: 40px 0px 0px 0px;
      row-gap: 4px;
      gap: 54px;
    }
    @include media-breakpoint-down(md) {
      margin-top: 32px;
    }
    .featured-item {
      .logo {
        &-1 {
          width: 217px;
          height: 20px;
          @include media-breakpoint-up(md) {
            height: 20px;
          }
          @include media-breakpoint-up(lg) {
            width: 320px;
            height: 40px;
          }
        }
        &-2 {
          width: 107px;
          height: 26px;
          @include media-breakpoint-up(md) {
            width: 124px;
          }
          @include media-breakpoint-up(lg) {
            width: 248px;
            height: 40px;
          }
        }
        &-3 {
          width: 131px;
          height: 28px;
          @include media-breakpoint-up(md) {
            width: 158px;
          }
          @include media-breakpoint-up(lg) {
            width: 190px;
            height: 48px;
          }
        }
        &-4 {
          width: 131px;
          height: 41px;
          top: -7px;
          @include media-breakpoint-up(lg) {
            width: 240px;
            height: 56px;
          }
        }
        &-5 {
          width: 131px;
          height: 41px;
          top: -7px;
          @include media-breakpoint-up(lg) {
            width: 240px;
            height: 56px;
          }
        }
      }
    }
  }
}

.cover-main {
  .cover {
    background: #fafbfa;
    border: 1px solid #016c62;
    max-width: 1440px;
    margin: auto;
    padding: 40px 15px;
    gap: 16px;
    @include media-breakpoint-up(md) {
      padding: 40px 60px;
    }
    @include media-breakpoint-up(lg) {
      gap: 110px;
      padding: 60px 90px;
      margin-bottom: 164px;
    }
    &-container {
      max-width: 680px;
      @include media-breakpoint-down(lg) {
        max-width: 380px;
      }
      &-input {
        margin: auto;
        @include media-breakpoint-up(lg) {
          max-width: 500px;
        }
      }
      &-click-details {
        margin: auto;
        @include media-breakpoint-up(lg) {
          max-width: 500px;
        }
      }
      &-title {
        margin-bottom: 8px;
        @include media-breakpoint-up(md) {
          margin-bottom: 16px;
        }
      }
      &-body {
        max-width: 450px;
      }
    }
  }
}
.green-box {
  height: 11px;
  width: 11px;
  background: #31c3ae;
  bottom: -3px;
  right: 9px;
}

.color-box {
  width: 250px;
  height: 100px;
  border-radius: 10px;
}
.secondary-btn {
  display: inline-block;
  text-decoration: none;
  padding: 12px 30px;
  background: #068466;
  border: 1px solid #068466;
  color: #fff;
  font-family: $body-font;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.1px;
  text-align: center;
  @include media-breakpoint-down(lg) {
    font-size: 14px;
    line-height: 20px;
  }
  &:hover {
    background: $primary;
    border: 1px solid $primary;
    color: #fff;
  }
  &:active {
    transform: scale(0.98);
    border: 1px solid $primary;
    background: $primary;
    color: #fff;
  }
}
.footer-btn {
  padding: 12px 30px;
  border-radius: 0px;
  background: transparent;
  color: #004a43;
  border: 1px solid #a0e4b0;
  font-family: $body-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  &:hover,
  &:active {
    background: #a9ff9b;
    border: 1px solid #a0e4b0;
    .calling-feature {
      color: $primary !important;
    }
  }
}
.btn-primary-link {
  height: 24px;
  width: 85px;
  border: none;
  font-family: $body-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #068466 !important;
  padding: 0 !important;
  padding-right: 7px !important;
}

.slide-btn {
  border-radius: 0px;
  border: 1px solid #068466;
  background: #fff;
  padding: 0px 16px 4px 16px;
  &:hover,
  &:active {
    background: #068466;
    border: 1px solid #068466 !important;
    path {
      fill: #fff !important;
    }
  }
}

.sepration {
  position: relative;
  max-width: 860px;
  margin: 16px 0px;
  @include media-breakpoint-up(md) {
    margin: 16px 32px;
  }
  @include media-breakpoint-up(lg) {
    margin: 32px 242px 32px 253px;
  }
  .dividers {
    border-bottom: 1px solid #000;
  }
  .rectangle-box {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 17px;
    background: #31c3ae;
  }
}

.blog-tiles {
  gap: 30px;
  &-item {
    margin: auto;
    max-width: 420px;
    @include media-breakpoint-up(md) {
    }
    .header {
      background: #f3f1ec;
      height: 197px;
      align-items: center;
    }
    .body {
      padding: 24px 26px;
      border: 1px solid #d7e0d4;
      @include media-breakpoint-up(lg) {
        padding: 24px 28px 24px 29px;
      }
    }
    &:hover {
      border: 1px solid #016c62;
      .body {
        border: none;
      }
    }
  }
}
.blog-component {
  padding: 12px 0px;
  @include media-breakpoint-up(md) {
    padding: 48px 0px;
  }
}
