<div class="left content-layout container-fluid">
  <div class="left-section container d-flex flex-column flex-md-row justify-content-center">
    <div class="left-section-content align-self-center">
      <div class="left-section-content-title">
        <h1 class="text-primary">Guiding young professionals to a secure future</h1>
      </div>
      <div class="left-section-content-body">
        <p class="text-info md-text">We provide simple and personalized financial guidance to help young professionals
          achieve their financial goals and build long-term wealth</p>
      </div>
      <div class="left-section-content-button">
        <button class="btn secondary-btn">Let’s Get Started</button>
      </div>
    </div>
    <div class="left-section-profile align-self-center">
      <img src="assets/Img/Png/hero-profile.png" alt="cover" class="img-fluid">
    </div>
  </div>
</div>

<div class="featured section-gap container-fluid border border-1">
  <p class="sm-text text-center text-secondary fw-semibold text-uppercase">As Seen In</p>
  <div class="logo-section d-flex justify-content-center flex-wrap">
    <div class="featured-item"><img src="assets/Img/Svg/cisco.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/airbnb.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/ebay.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/google.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/cnn.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/uber.svg" alt="logo" class="img-fluid"></div>
  </div>
</div>

<div class="right content-layout container-fluid">
  <div class="right-section container d-flex flex-column flex-md-row justify-content-around">
    <div class="right-section-content align-self-center">
      <div class="right-section-content-title">
        <h2 class="text-primary">A holistic approach to achieving your financial goals</h2>
      </div>
      <div class="right-section-content-body">
        <p class="text-info md-text">Your financial goals and priorities are unique, which is why we take a personalized
          approach to creating a plan that aligns with your needs. Our step-by-step process ensures that every aspect of
          your financial situation is taken into consideration.</p>
      </div>
      <div class="right-section-content-button">
        <button class="btn secondary-btn">Learn About Our Process</button>
      </div>
    </div>
    <div class="right-section-profile position-relative align-self-center">
      <img src="assets/Img/Png/home-profile.png" alt="cover" class="img-fluid">
      <div class="green-box home-box position-absolute"></div>
    </div>
  </div>
</div>

<div class="left content-layout container-fluid">
  <div class="left-section container d-flex flex-column flex-md-row justify-content-around">
    <div class="left-section-content align-self-center">
      <div class="left-section-content-title">
        <h2 class="text-primary">We help you make the right financial choices </h2>
      </div>
      <div class="left-section-content-body">
        <p class="text-info md-text">My name is Deepali. I’m a Certified Financial Planner, Investment Expert and
          advocate for
          young professionals (Qualified Personal Financial Professional)</p>
        <p class="text-info md-text">I started Srujan financials, to guide driven young individuals like you build
          wealth and
          achieve your financial goals amidst the busy schedules and demanding lifestyles.</p>
      </div>
      <div class="right-section-content-button">
        <button class="btn secondary-btn">Learn About Our Process</button>
      </div>
    </div>
    <div class="left-section-profile align-self-center">
      <img src="assets/Img/Png/about-profile.png" alt="cover" class="img-fluid">
    </div>
  </div>
</div>


<!-- start client section -->
<div class="container wrapper">
  <div class="content-layout carousel slide" id="mySlider" data-pause="hover">
    <div class="carousel-inner text-white">
      <div class="carousel-item active">
        <div class="content d-flex flex-column justify-content-center">
          <div class="content-heading">
            <div class="sub-heading">
              <p class="sub-title text-info text-center">See why clients love Us</p>
            </div>
            <div class="quote">
              <p class="testimonial-title mb-0">“ Deepali is not only incredibly knowledgeable and
                professional, but
                she also has
                a genuine passion for
                helping people achieve financial wellness. She took the time to get to know me and understand my goals,
                and then crafted a personalized financial plan that was tailored to my unique needs.”</p>
            </div>
          </div>
          <div class="sepration">
            <hr class="dividers">
            <div class="rectangle-box"></div>
          </div>
          <div class="info d-flex gap-4 flex-column flex-md-row justify-content-between">
            <div class="info-profile d-flex gap-3 justify-content-center">
              <div class="ellipse text-center">
                <img src="assets/Img/Png/Ellipse.png" alt="avatar" class="img-fluid">
              </div>
              <div class="details align-self-center">
                <p class="sub-title text-info mb-1 fw-bold">Jessica Alba</p>
                <p class="sm-text text-info m-0">Lead marketing specialist, CNN</p>
              </div>
            </div>
            <div class="button-section d-flex gap-2">
              <button class="slide-btn btn-left" type="button" data-bs-target="#mySlider" data-bs-slide="prev">
                <i class="bi bi-arrow-left"></i>
              </button>
              <button class="slide-btn active-btn btn-right" type="button" data-bs-target="#mySlider" data-bs-slide="next">
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content d-flex flex-column justify-content-center">
          <div class="content-heading">
            <div class="sub-heading">
              <p class="sub-title text-info text-center">See why clients love Us</p>
            </div>
            <div class="quote">
              <p class="testimonial-title mb-0">“ Deepali is not only incredibly knowledgeable and
                professional, but
                she also has
                a genuine passion for
                helping people achieve financial wellness. She took the time to get to know me and understand my goals,
                and then crafted a personalized financial plan that was tailored to my unique needs.”</p>
            </div>
          </div>
          <div class="sepration">
            <hr class="dividers">
            <div class="rectangle-box"></div>
          </div>
          <div class="info d-flex gap-4 flex-column flex-md-row justify-content-between">
            <div class="info-profile d-flex gap-3 justify-content-center">
              <div class="ellipse text-center">
                <img src="assets/Img/Png/Ellipse.png" alt="avatar" class="img-fluid">
              </div>
              <div class="details align-self-center">
                <p class="sub-title text-info m-0 fw-bold">Jessica Alba</p>
                <p class="sm-text text-info m-0">Lead marketing specialist, CNN</p>
              </div>
            </div>
            <div class="button-section d-flex gap-2">
              <button class="slide-btn btn-left" type="button" data-bs-target="#mySlider" data-bs-slide="prev">
                <i class="bi bi-arrow-left"></i>
              </button>
              <button class="slide-btn active-btn btn-right" type="button" data-bs-target="#mySlider" data-bs-slide="next">
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content d-flex flex-column justify-content-center">
          <div class="content-heading">
            <div class="sub-heading">
              <p class="sub-title text-info text-center">See why clients love Us</p>
            </div>
            <div class="quote">
              <p class="testimonial-title mb-0">“ Deepali is not only incredibly knowledgeable and
                professional, but
                she also has
                a genuine passion for
                helping people achieve financial wellness. She took the time to get to know me and understand my goals,
                and then crafted a personalized financial plan that was tailored to my unique needs.”</p>
            </div>
          </div>
          <div class="sepration">
            <hr class="dividers">
            <div class="rectangle-box"></div>
          </div>
          <div class="info d-flex gap-4 flex-column flex-md-row justify-content-between">
            <div class="info-profile d-flex gap-3 justify-content-center">
              <div class="ellipse text-center">
                <img src="assets/Img/Png/Ellipse.png" alt="avatar" class="img-fluid">
              </div>
              <div class="details align-self-center">
                <p class="sub-title text-info m-0 fw-bold">Jessica Alba</p>
                <p class="sm-text text-info m-0">Lead marketing specialist, CNN</p>
              </div>
            </div>
            <div class="button-section d-flex gap-2">
              <button class="slide-btn btn-left" type="button" data-bs-target="#mySlider" data-bs-slide="prev">
                <i class="bi bi-arrow-left"></i>
              </button>
              <button class="slide-btn active-btn btn-right" type="button" data-bs-target="#mySlider" data-bs-slide="next">
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end client section -->

<div class="content-layout d-none d-md-block position-relative">
  <div class="graphic horizontal-graphic position-absolute">
    <img src="assets/Img/Png/horizontal-graphic.png" alt="">
  </div>
</div>

<div class="container">
  <div class="content-layout">
    <div class="plan-title">
      <h2 class="text-primary text-center">Just a few ways we can help</h2>
    </div>
    <div class="blog-articles-body grid d-flex flex-wrap justify-content-center">
      <div class="grid-item card">
        <div class="card-body">
          <div class="grid-item-title">
            <h4 class="text-primary">Freedom from debt </h4>
          </div>
          <div class="grid-item-body">
            <p class="text-info sm-text">We’ll review your tax returns to identity opportunities to reduce your tax
              burden
              and
              help you invest your assets in responsible and tax-efficient vehicles, so you can enjoy the life you’ve
              worked so hard to build 
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item card">
        <div class="card-body">
          <div class="grid-item-title">
            <h4 class="text-primary">Building Long-term Wealth</h4>
          </div>
          <div class="grid-item-body">
            <p class="text-info sm-text">We can help you understand your risk tolerance and provide you with a
              personalized investment strategy to invest your assets in a responsible and tax efficient
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item card">
        <div class="card-body">
          <div class="grid-item-title">
            <h4 class="text-primary">Retirement Planning</h4>
          </div>
          <div class="grid-item-body">
            <p class="text-info sm-text">
              We’ll review your tax returns to identity opportunities to reduce your tax burden and help you invest your
              assets in responsible and tax-efficient vehicles, so you can enjoy the life you’ve worked so hard to build
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item card">
        <div class="card-body">
          <div class="grid-item-title">
            <h4 class="text-primary">Holistic life planning</h4>
          </div>
          <div class="grid-item-body">
            <p class="text-info sm-text">
              We’ll review your tax returns to identity opportunities to reduce your tax burden and help you invest your
              assets in responsible and tax-efficient vehicles, so you can enjoy the life you’ve worked so hard to
              build 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-layout d-none d-lg-block position-relative">
  <div class="graphic vertical-graphic position-absolute">
    <img src="assets/Img/Svg/graphic-elements.svg" alt="elements">
  </div>
</div>


<div class="container">
  <div class="content-layout">
    <div class="blog-header blog-component d-flex flex-column flex-md-row justify-content-between">
      <div class="blog-header-title">
        <h2 class="text-primary">Recent Blog Posts</h2>
      </div>
      <div class="blog-header-button d-none d-md-block">
        <button class="btn secondary-btn">View All </button>
      </div>
    </div>
    <div class="blog-tiles blog-component d-flex flex-column flex-md-row justify-content-between">
      <div class="blog-tiles-item">
        <div class="header"></div>
        <div class="body">
          <h5 class="text-primary">Long headline to turn your visitors</h5>
          <p class="text-info body-text">Harmonious colour themes have built up as the collection has evolved. </p>
          <div class="link">
            <button class="btn btn-primary-link text-primary">Read Now</button>
            <img src="assets/Img/Svg/right-arrow.svg" class="mt-1" alt="right arrow">
          </div>
        </div>
      </div>
      <div class="blog-tiles-item">
        <div class="header"></div>
        <div class="body">
          <h5 class="text-primary">Long headline to turn your visitors</h5>
          <p class="text-info body-text">Harmonious colour themes have built up as the collection has evolved. </p>
          <div class="link">
            <button class="btn btn-primary-link text-primary">Read Now</button>
            <img src="assets/Img/Svg/right-arrow.svg" class="mt-1" alt="right arrow">
          </div>
        </div>
      </div>
      <div class="blog-tiles-item">
        <div class="header"></div>
        <div class="body">
          <h5 class="text-primary text-center text-md-start">Long headline to turn your visitors</h5>
          <p class="text-info body-text text-center text-md-start">Harmonious colour themes have built up as the
            collection has evolved. </p>
          <div class="link">
            <button class="btn btn-primary-link text-primary">Read Now</button>
            <img src="assets/Img/Svg/right-arrow.svg" class="mt-1" alt="right arrow">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-layout">
  <div class="cover-main container  position-relative">
    <div class="cover d-flex flex-column flex-md-row justify-content-md-between">
      <div class="cover-container">
        <div class="cover-container-title">
          <h3 class="text-primary">Want to work with us? </h3>
        </div>
        <div class="cover-container-body">
          <p class="body-text">Get in touch to know if we’re the right fit to help you plan for your financial planning
            needs</p>
        </div>
      </div>
      <div class="cover-button align-self-center">
        <button class="btn btn-outline-green">Let’s talk it over</button>
      </div>
    </div>
    <div class="green-box position-absolute"></div>
  </div>
</div>
