<div class="left container-fluid">
  <div class="left-section container d-flex flex-column flex-md-row justify-content-center">
    <div class="left-section-content align-self-center">
      <div class="left-section-content-title">
        <h1 class="text-primary">Guiding young professionals to a secure future</h1>
      </div>
      <div class="left-section-content-body">
        <p class="text-info md-text">We provide simple and personalized financial guidance to help young professionals
          achieve their financial goals and build long-term wealth</p>
      </div>
      <div class="left-section-content-button">
        <button class="btn btn-green">Let’s Get Started</button>
      </div>
    </div>
    <div class="left-section-profile position-relative">
      <img src="assets/Img/Png/home-profile.png" alt="cover" class="img-fluid">
      <img src="assets/Img/Png/home-feature.png" alt="cover" class="img-fluid feature position-absolute">
    </div>
  </div>
</div>

<div class="featured container-fluid">
  <p class="sm-text text-center text-secondary">As Seen In</p>
  <div class="logo-section d-flex justify-content-center flex-wrap">
    <div class="featured-item"><img src="assets/Img/Svg/ebay.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/cnn.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/google.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/cisco.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/airbnb.svg" alt="logo" class="img-fluid"></div>
    <div class="featured-item"><img src="assets/Img/Svg/uber.svg" alt="logo" class="img-fluid"></div>
  </div>
</div>

<div class="right container-fluid">
  <div class="right-section container d-flex flex-column flex-md-row justify-content-around">
    <div class="right-section-content align-self-center">
      <div class="right-section-content-title">
        <h3 class="text-primary">A holistic approach to achieving your financial goals</h3>
      </div>
      <div class="right-section-content-body">
        <p class="text-info md-text">Your financial goals and priorities are unique, which is why we take a personalized
          approach to creating a plan that aligns with your needs. Our step-by-step process ensures that every aspect of
          your financial situation is taken into consideration.</p>
      </div>
      <div class="right-section-content-button">
        <button class="btn border-0 text-secondary">Learn About Our Process</button>
        <img src="assets/Img/Svg/ryt-arrow.svg" alt="right-arrow" class="img-fluid">
      </div>
    </div>
    <div class="right-section-profile">
      <!-- <img src="assets/Images/Png/cover1-profile.png" alt="cover" class="img-fluid"> -->
      <div class="placeholder col-10"></div>
    </div>
  </div>
</div>

<div class="left container-fluid">
  <div class="left-section container d-flex flex-column flex-md-row justify-content-center">
    <div class="left-section-content align-self-center">
      <div class="left-section-content-title">
        <h2 class="text-primary">At Srujan financial, we help you make the right financial choices </h2>
      </div>
      <div class="left-section-content-body">
        <p class="text-info md-text">My name is Deepali. I’m a Certified Financial Planner, Investment Expert and
          advocate for
          young professionals (Qualified Personal Financial Professional)</p>
        <p class="text-info md-text">I started Srujan financials, to guide driven young individuals like you build
          wealth and
          achieve your financial goals amidst the busy schedules and demanding lifestyles.</p>
      </div>
      <div class="right-section-content-button">
        <button class="btn border-0 text-secondary">Learn About Our Process</button>
        <img src="assets/Img/Svg/ryt-arrow.svg" alt="right-arrow" class="img-fluid">
      </div>
    </div>
    <div class="left-section-profile position-relative">
      <img src="assets/Img/Png/home-profile2.png" alt="cover" class="img-fluid">
    </div>
  </div>
</div>


<!-- start client section -->
<div class="wrapper">
  <div class="carousel slide" id="mySlider" data-pause="hover">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active rounded-circle"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"
        class="rounded-circle"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"
        class="rounded-circle"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"
        class="rounded-circle"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"
        class="rounded-circle"></button>
    </div>
    <div class="carousel-inner text-white">
      <div class="carousel-item active">
        <div class="content d-flex flex-column justify-content-center">
          <div class="content-heading">
            <div class="sub-heading">
              <p class="sub-title text-info text-center">See why clients love Us</p>
            </div>
            <div class="quote">
              <h4 class="text-primary text-center">“ Deepali is not only incredibly knowledgeable and professional, but
                she also has
                a genuine passion for
                helping people achieve financial wellness. She took the time to get to know me and understand my goals,
                and then crafted a personalized financial plan that was tailored to my unique needs.”</h4>
            </div>
          </div>
          <div class="sepration">
            <hr class="dividers">
            <div class="rectangle-box"></div>
          </div>
          <div class="info d-flex gap-5 justify-content-around">
            <div class="info-profile d-flex gap-5 justify-content-center">
              <div class="ellipse text-center">
                <img src="assets/Img/Png/Ellipse.png" alt="avatar">
              </div>
              <div class="details align-self-center">
                <p class="sub-title text-info m-0 fw-bold">Jessica Alba</p>
                <p class="md-text text-info m-0">Lead marketing specialist, CNN</p>
              </div>
            </div>
            <div class="button-section d-none d-md-flex gap-1">
              <button class="slide-btn btn-left" type="button" data-bs-target="#mySlider" data-bs-slide="prev">
                <i class="bi bi-arrow-left"></i>
              </button>
              <button class="slide-btn btn-right" type="button" data-bs-target="#mySlider" data-bs-slide="next">
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content d-flex flex-column justify-content-center">
          <div class="content-heading">
            <div class="sub-heading">
              <p class="sub-title text-info text-center">See why clients love Us</p>
            </div>
            <div class="quote">
              <h4 class="text-primary text-center">“ Deepali is not only incredibly knowledgeable and professional, but
                she also has
                a genuine passion for
                helping people achieve financial wellness. She took the time to get to know me and understand my goals,
                and then crafted a personalized financial plan that was tailored to my unique needs.”</h4>
            </div>
          </div>
          <div class="sepration">
            <hr class="dividers">
            <div class="rectangle-box"></div>
          </div>
          <div class="info d-flex gap-5 justify-content-around">
            <div class="info-profile d-flex gap-5 justify-content-center">
              <div class="ellipse text-center">
                <img src="assets/Img/Png/Ellipse.png" alt="avatar">
              </div>
              <div class="details align-self-center">
                <p class="sub-title text-info m-0 fw-bold">Jessica Alba</p>
                <p class="md-text text-info m-0">Lead marketing specialist, CNN</p>
              </div>
            </div>
            <div class="button-section d-none d-md-flex gap-1">
              <button class="slide-btn btn-left" type="button" data-bs-target="#mySlider" data-bs-slide="prev">
                <i class="bi bi-arrow-left"></i>
              </button>
              <button class="slide-btn btn-right" type="button" data-bs-target="#mySlider" data-bs-slide="next">
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content d-flex flex-column justify-content-center">
          <div class="content-heading">
            <div class="sub-heading">
              <p class="sub-title text-info text-center">See why clients love Us</p>
            </div>
            <div class="quote">
              <h4 class="text-primary text-center">“ Deepali is not only incredibly knowledgeable and professional, but
                she also has
                a genuine passion for
                helping people achieve financial wellness. She took the time to get to know me and understand my goals,
                and then crafted a personalized financial plan that was tailored to my unique needs.”</h4>
            </div>
          </div>
          <div class="sepration">
            <hr class="dividers">
            <div class="rectangle-box"></div>
          </div>
          <div class="info d-flex gap-5 justify-content-around">
            <div class="info-profile d-flex gap-5 justify-content-center">
              <div class="ellipse text-center">
                <img src="assets/Img/Png/Ellipse.png" alt="avatar">
              </div>
              <div class="details align-self-center">
                <p class="sub-title text-info m-0 fw-bold">Jessica Alba</p>
                <p class="md-text text-info m-0">Lead marketing specialist, CNN</p>
              </div>
            </div>
            <div class="button-section d-none d-md-flex gap-1">
              <button class="slide-btn btn-left" type="button" data-bs-target="#mySlider" data-bs-slide="prev">
                <i class="bi bi-arrow-left"></i>
              </button>
              <button class="slide-btn btn-right" type="button" data-bs-target="#mySlider" data-bs-slide="next">
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content d-flex flex-column justify-content-center">
          <div class="content-heading">
            <div class="sub-heading">
              <p class="sub-title text-info text-center">See why clients love Us</p>
            </div>
            <div class="quote">
              <h4 class="text-primary text-center">“ Deepali is not only incredibly knowledgeable and professional, but
                she also has
                a genuine passion for
                helping people achieve financial wellness. She took the time to get to know me and understand my goals,
                and then crafted a personalized financial plan that was tailored to my unique needs.”</h4>
            </div>
          </div>
          <div class="sepration">
            <hr class="dividers">
            <div class="rectangle-box"></div>
          </div>
          <div class="info d-flex gap-5 justify-content-around">
            <div class="info-profile d-flex gap-5 justify-content-center">
              <div class="ellipse text-center">
                <img src="assets/Img/Png/Ellipse.png" alt="avatar">
              </div>
              <div class="details align-self-center">
                <p class="sub-title text-info m-0 fw-bold">Jessica Alba</p>
                <p class="md-text text-info m-0">Lead marketing specialist, CNN</p>
              </div>
            </div>
            <div class="button-section d-none d-md-flex gap-1">
              <button class="slide-btn btn-left" type="button" data-bs-target="#mySlider" data-bs-slide="prev">
                <i class="bi bi-arrow-left"></i>
              </button>
              <button class="slide-btn btn-right" type="button" data-bs-target="#mySlider" data-bs-slide="next">
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content d-flex flex-column justify-content-center">
          <div class="content-heading">
            <div class="sub-heading">
              <p class="sub-title text-info text-center">See why clients love Us</p>
            </div>
            <div class="quote">
              <h4 class="text-primary text-center">“ Deepali is not only incredibly knowledgeable and professional, but
                she also has
                a genuine passion for
                helping people achieve financial wellness. She took the time to get to know me and understand my goals,
                and then crafted a personalized financial plan that was tailored to my unique needs.”</h4>
            </div>
          </div>
          <div class="sepration">
            <hr class="dividers">
            <div class="rectangle-box"></div>
          </div>
          <div class="info d-flex gap-5 justify-content-around">
            <div class="info-profile d-flex gap-5 justify-content-center">
              <div class="ellipse text-center">
                <img src="assets/Img/Png/Ellipse.png" alt="avatar">
              </div>
              <div class="details align-self-center">
                <p class="sub-title text-info m-0 fw-bold">Jessica Alba</p>
                <p class="md-text text-info m-0">Lead marketing specialist, CNN</p>
              </div>
            </div>
            <div class="button-section d-none d-md-flex gap-1">
              <button class="slide-btn btn-left" type="button" data-bs-target="#mySlider" data-bs-slide="prev">
                <i class="bi bi-arrow-left"></i>
              </button>
              <button class="slide-btn btn-right" type="button" data-bs-target="#mySlider" data-bs-slide="next">
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end client section -->

<div class="feature-articles container">
  <div class="blog-articles-body grid d-flex flex-wrap justify-content-center">
    <div class="grid-item border-0 card">
      <div class="card-body card-height">
        <div class="card-img">
          <img src="assets/Img/Png/feature-header.png" alt="">
        </div>
        <div class="grid-item-title">
          <h4>Freedom from debt </h4>
        </div>
        <div class="grid-item-body">
          <p class="text-info mgt-33 sm-text">We’ll review your tax returns to identity opportunities to reduce your tax
            burden
            and
            help you invest your assets in responsible and tax-efficient vehicles, so you can enjoy the life you’ve
            worked so hard to build 
          </p>
        </div>
      </div>
    </div>
    <div class="grid-item border-0 card">
      <div class="card-body card-height">
        <div class="card-img">
          <img src="assets/Img/Png/feature-header.png" alt="">
        </div>
        <div class="grid-item-title">
          <h4>Building Long-term Wealth</h4>
        </div>
        <div class="grid-item-body">
          <p class="text-info mgt-33 sm-text">We can help you understand your risk tolerance and provide you with a
            personalized
            investment strategy to invest your assets in a responsible and tax efficient manner to protect you against
            financial uncertainty and enable you to live life stress free
          </p>
        </div>
      </div>
    </div>
    <div class="grid-item border-0 card d-md-none d-lg-block">
      <div class="card-body card-height">
        <div class="card-img">
          <img src="assets/Img/Png/feature-header.png" alt="">
        </div>
        <div class="grid-item-title">
          <h4>Comprehensive Financial Planning</h4>
        </div>
        <div class="grid-item-body">
          <p class="text-info sm-text">
            To truly create a secure financial future, it’s important to look beyond just investments and planning.
            We’ll work with you to coordinate and plan for your entire financial life, including your estate and
            insurance policies. By taking a holistic approach to financial planning, I can help you optimize your
            finances and get more out of them. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="blog-articles container">
  <div class="blog-articles-header">
    <h4 class="text-primary">Similar Articles</h4>
  </div>
  <div class="cards-row grid d-flex d-flex flex-column flex-md-row justify-content-center">
    <div class="cards-row-item">
      <div class="header-img">
        <img src="assets/Img/Png/card-header-profile.png" alt="header">
      </div>
      <div class="content">
        <div class="title">
          <h5 class="text-primary">Long headline to turn your visitors into users </h5>
        </div>
        <div class="body">
          <p class="body-text">Harmonious colour themes have built up as the collection has evolved. </p>
        </div>
        <div class="grid-item-link">
          <button class="btn btn-primary-link text-primary">Read Now</button>
          <img src="assets/Img/Svg/right-arrow.svg" class="mt-1 circle-btn-border" alt="right arrow">
        </div>
      </div>
    </div>
    <div class="horizontal-devider d-none d-md-block"></div>
    <div class="cards-row-item">
      <div class="header-img">
        <img src="assets/Img/Png/card-header-profile2.png" alt="header">
      </div>
      <div class="content">
        <div class="title">
          <h5 class="text-primary">Long headline to turn your visitors into users </h5>
        </div>
        <div class="body">
          <p class="body-text">Harmonious colour themes have built up as the collection has evolved. </p>
        </div>
        <div class="grid-item-link">
          <button class="btn btn-primary-link text-primary">Read Now</button>
          <img src="assets/Img/Svg/right-arrow.svg" class="mt-1 circle-btn-border" alt="right arrow">
        </div>
      </div>
    </div>
    <div class="horizontal-devider d-none d-md-block"></div>
    <div class="cards-row-item">
      <div class="header-img">
        <img src="assets/Img/Png/card-header-profile3.png" alt="header">
      </div>
      <div class="content">
        <div class="title">
          <h5 class="text-primary">Long headline to turn your visitors into users </h5>
        </div>
        <div class="body">
          <p class="body-text">Harmonious colour themes have built up as the collection has evolved. </p>
        </div>
        <div class="grid-item-link">
          <button class="btn btn-primary-link text-primary">Read Now</button>
          <img src="assets/Img/Svg/right-arrow.svg" class="mt-1 circle-btn-border" alt="right arrow">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover-main container position-relative">
  <div class="cover d-flex justify-content-center">
    <div class="cover-container text-center">
      <div class="cover-container-tag">
        <h6 class="text-secondary text-center">FREE PORTFOLIO ANALYSIS</h6>
      </div>
      <div class="cover-container-title">
        <h2 class="text-primary text-center">Get a free portfolio analysis of your current investments</h2>
      </div>
      <div class="cover-container-input d-flex justify-content-center">
        <input type="email" class="form-control shadow-none" placeholder="Enter your email address"
          aria-label="Recipient's email" aria-describedby="button-addon2">
        <button class="btn btn-input rounded-0">Subscribe</button>
      </div>
      <div class="cover-container-click-details">
        <p class="xsm-text text-info text-center">By clicking the Button you confirming that you’re agree with our following Terms
          and
          Conditions</p>
      </div>
    </div>
  </div>
  <div class="green-box position-absolute"></div>
</div>
